transforming evWest

In [1]:
import pandas as pd

In [10]:
evWest_initial_df = pd.read_csv("data/evWest.csv")
print("columns", evWest_initial_df.columns.to_list())
print("rows", len(evWest_initial_df))
evWest_initial_df.head(10)

columns ['category', 'model', 'model_name', 'manufacturer', 'weight', 'price']
rows 187

,category,model,model_name,manufacturer,weight,price
0,Batteries,Lithium 2170 21700 Battery Cell\n5000mAh 14....,: INR2170M50L T\n,: EV West\n,: 0.00,: 0.00
1,Batteries,"Lithium Ion Battery - 60.8V , 2.6kWh\nThese ...",: BAT-2.6-\n16S\n,:\n,: 38.00,: 38.00
2,Batteries,Lithium Super Cells 1.6 kWh - JH3\n63Ah 7S H...,: BAT-1.7-7S\n,: EV West\n,: 20.00,: 20.00
3,Batteries,Lithium Super Cells 3.2 kWh - JP3\n128Ah 2P7...,: BAT-3.4-\n7S2P\n,:\n,: 40.00,: 40.00
4,Batteries,Samsung INR 18650 25R Lithium\nBattery Cells...,: INR25R\n,: Samsung\n,: 0.00,: 0.00
5,Batteries,Samsung SDI 60Ah Lithium Ion\nBattery Cell\n...,: SM-SDI-60\n,: Samsung\n,: 5.00,: 5.00
6,Batteries,Samsung SDI ESS Energy Storage\nBattery 16S ...,: ESS-3.5\n,: Samsung\n,: 110.00,: 110.00
7,Batteries,Samsung SDI ESS Energy Storage\nBattery 22S ...,: ESS-7.6\n,: Samsung\n,: 140.00,: 140.00
8,Batteries,Tesla,S Lithium Ion Battery\n18650 EV Module - 22.8...,: Tesla\n,: 55.00,: 55.00
9,Batteries,$799.00$990.00Tesla Smart Lithium Ion Batter...,: 18650-3\n,: Tesla\n,: 42.00,: 42.00

In [42]:
evWest_df_1= evWest_initial_df.replace(':','', regex=True)
#evWest_df_1.head()
evWest_df_2 = evWest_df_1.replace('\n','', regex=True)
# evWest_df_2.head(20)
evWest_df_3 = evWest_df_2.apply(lambda x : x.str.strip() if x.dtype == 'object' else x)
evWest_df_3.dtypes
evWest_df_3[["price", "weight"]]= evWest_df_3[["price", "weight"]].astype('float')
evWest_df_3.dtypes
evWest_df_3.head(10)
evWest_df_3['product_effective_date']= pd.Timestamp('2022-04-10')
evWest_df_3.head()

,category,model,model_name,manufacturer,weight,price,product_effective_date
0,Batteries,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,INR2170M50L T,EV West,0.0,0.0,2022-04-10
1,Batteries,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...",BAT-2.6-16S,,38.0,38.0,2022-04-10
2,Batteries,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,BAT-1.7-7S,EV West,20.0,20.0,2022-04-10
3,Batteries,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,BAT-3.4-7S2P,,40.0,40.0,2022-04-10
4,Batteries,Samsung INR 18650 25R LithiumBattery Cells - B...,INR25R,Samsung,0.0,0.0,2022-04-10