transforming evWest

In [4]:
import pandas as pd
import numpy as np

In [5]:
evWest_initial_df = pd.read_csv("data/evWest.csv")
print("columns", evWest_initial_df.columns.to_list())
print("rows", len(evWest_initial_df))
evWest_initial_df.head(10)

columns ['category', 'model', 'model_name', 'manufacturer', 'weight', 'price']
rows 187

,category,model,model_name,manufacturer,weight,price
0,Batteries,Lithium 2170 21700 Battery Cell\n5000mAh 14....,: INR2170M50L T\n,: EV West\n,: 0.00,: 0.00
1,Batteries,"Lithium Ion Battery - 60.8V , 2.6kWh\nThese ...",: BAT-2.6-\n16S\n,:\n,: 38.00,: 38.00
2,Batteries,Lithium Super Cells 1.6 kWh - JH3\n63Ah 7S H...,: BAT-1.7-7S\n,: EV West\n,: 20.00,: 20.00
3,Batteries,Lithium Super Cells 3.2 kWh - JP3\n128Ah 2P7...,: BAT-3.4-\n7S2P\n,:\n,: 40.00,: 40.00
4,Batteries,Samsung INR 18650 25R Lithium\nBattery Cells...,: INR25R\n,: Samsung\n,: 0.00,: 0.00
5,Batteries,Samsung SDI 60Ah Lithium Ion\nBattery Cell\n...,: SM-SDI-60\n,: Samsung\n,: 5.00,: 5.00
6,Batteries,Samsung SDI ESS Energy Storage\nBattery 16S ...,: ESS-3.5\n,: Samsung\n,: 110.00,: 110.00
7,Batteries,Samsung SDI ESS Energy Storage\nBattery 22S ...,: ESS-7.6\n,: Samsung\n,: 140.00,: 140.00
8,Batteries,Tesla,S Lithium Ion Battery\n18650 EV Module - 22.8...,: Tesla\n,: 55.00,: 55.00
9,Batteries,$799.00$990.00Tesla Smart Lithium Ion Batter...,: 18650-3\n,: Tesla\n,: 42.00,: 42.00

In [6]:
evWest_df_1= evWest_initial_df.replace(':','', regex=True)
#evWest_df_1.head()
evWest_df_2 = evWest_df_1.replace('\n','', regex=True)
# evWest_df_2.head(20)
evWest_df_3 = evWest_df_2.apply(lambda x : x.str.strip() if x.dtype == 'object' else x)
evWest_df_3.dtypes
evWest_df_3[["price", "weight"]]= evWest_df_3[["price", "weight"]].astype('float')
evWest_df_3.dtypes
evWest_df_3.head(10)
# evWest_df_3['manufacture_effective_date']= pd.Timestamp('2022-04-10')
evWest_df_3.head()

,category,model,model_name,manufacturer,weight,price
0,Batteries,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,INR2170M50L T,EV West,0.0,0.0
1,Batteries,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...",BAT-2.6-16S,,38.0,38.0
2,Batteries,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,BAT-1.7-7S,EV West,20.0,20.0
3,Batteries,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,BAT-3.4-7S2P,,40.0,40.0
4,Batteries,Samsung INR 18650 25R LithiumBattery Cells - B...,INR25R,Samsung,0.0,0.0

In [7]:
len(evWest_df_3)

187

In [8]:
evWest_df_4 = evWest_df_3.copy()
# evWest_df_4["manufacturer"]=evWest_df_4["manufacturer"].mask(evWest_df_4["manufacturer"] == '')
evWest_df_4["manufacturer"]=evWest_df_4["manufacturer"].fillna("NULL")
unique_manufacturers = evWest_df_4.manufacturer.unique()
start_date = '2018-01-01'
end_date = '2023-04-11'
num_rows = len(evWest_df_3.manufacturer.unique())# number of rows in the DataFrame
# Randomly sample dates from the sequence
# Generate a sequence of dates within the range of years
dates = pd.date_range(start=start_date, end=end_date)
random_dates = np.random.choice(dates, size=len(unique_manufacturers), replace=True)


# Create a new DataFrame with "manufacturer" and "vendor_since" columns
df_man = pd.DataFrame({"manufacturer": unique_manufacturers, "vendor_since": random_dates})

# Merge the new DataFrame with the original DataFrame
evWest_df_5 = pd.merge(evWest_df_4, df_man, on="manufacturer", how="left")
# evWest_df_5.columns
# len(evWest_df_5)

#define a function to generate random dates
def random_date(start, end):
    return pd.to_datetime(np.random.randint(start.value, end.value, size=1)[0], unit='ns')

# product release date 
evWest_df_5["product_release_Date"] =   evWest_df_5.apply(lambda row: random_date(row['vendor_since'], pd.Timestamp.now()), axis=1)
evWest_df_5.head(20)

,category,model,model_name,manufacturer,weight,price,vendor_since,product_release_Date
0,Batteries,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,INR2170M50L T,EV West,0.0,0.0,2018-01-04,2020-10-06 22:13:20.630156858
1,Batteries,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...",BAT-2.6-16S,,38.0,38.0,2019-10-21,2021-10-27 17:27:00.677187146
2,Batteries,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,BAT-1.7-7S,EV West,20.0,20.0,2018-01-04,2021-09-05 15:25:58.465624104
3,Batteries,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,BAT-3.4-7S2P,,40.0,40.0,2019-10-21,2020-05-22 16:20:06.218943032
4,Batteries,Samsung INR 18650 25R LithiumBattery Cells - B...,INR25R,Samsung,0.0,0.0,2020-01-24,2020-04-02 17:18:48.480817949
5,Batteries,Samsung SDI 60Ah Lithium IonBattery CellThis i...,SM-SDI-60,Samsung,5.0,5.0,2020-01-24,2021-06-15 11:08:59.786731494
6,Batteries,Samsung SDI ESS Energy StorageBattery 16S 60 V...,ESS-3.5,Samsung,110.0,110.0,2020-01-24,2021-04-05 19:26:43.498689492
7,Batteries,Samsung SDI ESS Energy StorageBattery 22S 80 V...,ESS-7.6,Samsung,140.0,140.0,2020-01-24,2021-11-13 00:40:18.209995859
8,Batteries,Tesla,S Lithium Ion Battery18650 EV Module - 22.8 V ...,Tesla,55.0,55.0,2020-03-08,2022-07-31 03:15:55.683433511
9,Batteries,$799.00$990.00Tesla Smart Lithium Ion Battery1...,18650-3,Tesla,42.0,42.0,2020-03-08,2021-04-22 19:00:54.844573332
10,BatteryEnclosuresAcc,MX150 Bulkhead and Connector -Battery Box CAN ...,EVW -MX150,EV West,1.0,1.0,2018-01-04,2019-03-10 21:09:29.273332319
11,BatteryEnclosuresAcc,Rincon Power HVBD4AXR - 400 AContinuous - 1000...,RP-HVBD,RinconPower,3.0,3.0,2019-10-12,2023-02-22 19:29:30.633525117
12,BatteryEnclosuresAcc,VW Beetle Front Battery Box - '58-71Aluminum F...,EVW -FBB1,EV West,20.0,20.0,2018-01-04,2023-03-23 23:48:24.361659936
13,BatteryEnclosuresAcc,VW Beetle Rear Battery Box - '58-71Aluminum Re...,EVW -RBB1,EV West,20.0,20.0,2018-01-04,2018-12-15 22:43:09.017184829
14,Chargers,Elcon 3.3kW UF CAN Bus Chargerwith EVCCThe UFC...,UFC33-CAN,Elcon,19.0,19.0,2020-05-24,2020-12-29 09:58:51.826354272
15,Chargers,Elcon PFC1500 ChargerThis item has been discon...,ELC1500,Elcon,15.0,15.0,2020-05-24,2021-04-17 21:33:37.063472769
16,Chargers,Manzanita Micro PFC 20-XMChargerThis product i...,MM PFC20-XM,Manzanita,16.0,16.0,2020-01-31,2021-11-06 17:38:51.274713593
17,Chargers,Manzanita Micro PFC 30-XMChargerThe PFC-30M is...,MM PFC30-XM,Manzanita,17.2,17.2,2020-01-31,2022-08-31 12:59:18.277582452
18,Chargers,Manzanita Micro PFC 40-XMChargerThe PFC-40M is...,MM PFC40-XM,Manzanita,20.0,20.0,2020-01-31,2022-03-19 11:06:48.493515067
19,Charging_Accessories,EVCC 3.0 - CAN Bus ChargerController by Dilith...,TS-EVCC3,DilithiumBMS,1.0,1.0,2021-12-11,2023-03-05 03:37:45.279680570

In [9]:
def status_flag_maker(product_release_Date):
    #a= evWest_df_4["product_release_Date"][0]
    # b = pd.Timestamp.now()
    # diff = b - a 
    # diff= diff.days
    #730 is two years
    current_date = pd.Timestamp.now()
    diff = product_release_Date- current_date
    diff = diff.days
    if diff > 730:
        status = "inactive"
        # print("inactive")
    else: 
        status = "active"
        # print("active")
    return status

we need fallowing fields in our table
- manufacture id
- manufacture_name
- status_flag
- updated_at 

we need product

- product id
- product_name
- product_description
- produc_category
- produc_category_prev
- product_name_prev

In [10]:
evWest_df_5.apply(lambda row: random_date(row['vendor_since'], pd.Timestamp.now()), axis=1)
evWest_df_5["product_status_flag"] = evWest_df_5.apply(lambda row: status_flag_maker(row["product_release_Date"]), axis=1)
# initial values we set the product release date
evWest_df_5["product_updated_at"] = evWest_df_5["product_release_Date"] 
evWest_df_5.head()

,category,model,model_name,manufacturer,weight,price,vendor_since,product_release_Date,product_status_flag,product_updated_at
0,Batteries,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,INR2170M50L T,EV West,0.0,0.0,2018-01-04,2020-10-06 22:13:20.630156858,active,2020-10-06 22:13:20.630156858
1,Batteries,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...",BAT-2.6-16S,,38.0,38.0,2019-10-21,2021-10-27 17:27:00.677187146,active,2021-10-27 17:27:00.677187146
2,Batteries,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,BAT-1.7-7S,EV West,20.0,20.0,2018-01-04,2021-09-05 15:25:58.465624104,active,2021-09-05 15:25:58.465624104
3,Batteries,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,BAT-3.4-7S2P,,40.0,40.0,2019-10-21,2020-05-22 16:20:06.218943032,active,2020-05-22 16:20:06.218943032
4,Batteries,Samsung INR 18650 25R LithiumBattery Cells - B...,INR25R,Samsung,0.0,0.0,2020-01-24,2020-04-02 17:18:48.480817949,active,2020-04-02 17:18:48.480817949

business rule 
- company sells same product for two years, so if the product release so if there has been two years since the product release date we assign inactive and viseversa
- manufacturer : if the manufacturer does not have active product we will set the manufacturer status inactive  and vise versa active

## creating manufacturer dimensions

1- find unique manufacturers

2- create id

3- set manufacture status active

In [11]:
evWest_df_5["manufacturer"].isna().sum()

0

In [12]:
evWest_df_5["manufacturer"]=evWest_df_5["manufacturer"].mask(evWest_df_5["manufacturer"] == '')
evWest_df_5["model_name"]= evWest_df_5["model_name"].mask(evWest_df_5["model_name"] == '')

In [13]:
print(evWest_df_5["model_name"].isna().sum())
evWest_df_5["manufacturer"].isna().sum()

26

12

In [14]:
# first fill all emty values with null
evWest_df_6 = evWest_df_5.fillna("NULL")
evWest_df_6.isna().sum()

category                0
model                   0
model_name              0
manufacturer            0
weight                  0
price                   0
vendor_since            0
product_release_Date    0
product_status_flag     0
product_updated_at      0
dtype: int64

In [15]:
evWest_df_6.columns

Index(['category', 'model', 'model_name', 'manufacturer', 'weight', 'price',
       'vendor_since', 'product_release_Date', 'product_status_flag',
       'product_updated_at'],
      dtype='object')

In [16]:
evWest_df_6["manufacturer"].value_counts()

EV West                  75
Canadian EV              24
HPEVS                    15
NULL                     12
Tesla                    11
Smart                     5
Elcon                     5
Manzanita                 5
Curtis                    5
Samsung                   4
Deltec                    3
AEM                       3
NetGainMotors             3
AM Racing                 2
TBSElectronics            2
RinehartMotionSystems     2
DilithiumBMS              2
QuickChargePower          1
Modular EV                1
Chennic                   1
MSD Ignition              1
SSBC                      1
Tyco Kilovac              1
EmproShunts               1
RinconPower               1
Behr                      1
Name: manufacturer, dtype: int64

In [17]:
distinct_manufacturer = evWest_df_6.drop_duplicates(subset=["manufacturer", "vendor_since"], keep='first')
distinct_manufacturer = distinct_manufacturer.reset_index(drop=True)
distinct_manufacturer["manufacture_id"]=distinct_manufacturer.index+1
distinct_manufacturer= distinct_manufacturer[["manufacture_id","manufacturer", "vendor_since"]]
#setting all initial values are as active 
distinct_manufacturer["manu_status_flag"]= "active"
#setting updated time to the vendor since 
distinct_manufacturer["manu_updated_at"]= distinct_manufacturer["vendor_since"]
#initial sk we just set to the index 
distinct_manufacturer= distinct_manufacturer.reset_index(drop=True)
distinct_manufacturer["sk_manufature"]=distinct_manufacturer.index+1
distinct_manufacturer

,manufacture_id,manufacturer,vendor_since,manu_status_flag,manu_updated_at,sk_manufature
0,1,EV West,2018-01-04,active,2018-01-04,1
1,2,NULL,2019-10-21,active,2019-10-21,2
2,3,Samsung,2020-01-24,active,2020-01-24,3
3,4,Tesla,2020-03-08,active,2020-03-08,4
4,5,RinconPower,2019-10-12,active,2019-10-12,5
5,6,Elcon,2020-05-24,active,2020-05-24,6
6,7,Manzanita,2020-01-31,active,2020-01-31,7
7,8,DilithiumBMS,2021-12-11,active,2021-12-11,8
8,9,Chennic,2019-04-09,active,2019-04-09,9
9,10,Modular EV,2020-11-22,active,2020-11-22,10
10,11,QuickChargePower,2019-10-14,active,2019-10-14,11
11,12,HPEVS,2020-04-11,active,2020-04-11,12
12,13,Curtis,2021-04-14,active,2021-04-14,13
13,14,RinehartMotionSystems,2022-04-02,active,2022-04-02,14
14,15,NetGainMotors,2020-09-02,active,2020-09-02,15
15,16,Deltec,2018-01-01,active,2018-01-01,16
16,17,AEM,2021-01-20,active,2021-01-20,17
17,18,TBSElectronics,2018-02-27,active,2018-02-27,18
18,19,Canadian EV,2019-06-10,active,2019-06-10,19
19,20,MSD Ignition,2020-04-05,active,2020-04-05,20
20,21,SSBC,2022-07-27,active,2022-07-27,21
21,22,AM Racing,2022-08-08,active,2022-08-08,22
22,23,Tyco Kilovac,2018-07-24,active,2018-07-24,23
23,24,EmproShunts,2023-03-30,active,2023-03-30,24
24,25,Smart,2019-06-17,active,2019-06-17,25
25,26,Behr,2022-12-10,active,2022-12-10,26

product table dimensionts:

1- product-ID<br>
2- sk-product<br>
3- product-name<br>
4- product-description<br>
5- Product-category<br>
6- product-release-date<br>
7- product-discontinuation_date<br>
8- product-updated-at<br>

# adding product field 
All the product names shodul be unique, I noticed an issue in the pdf extraction, I will have to go back and fix the issue so that model names are unique

In [33]:
distinct_product = evWest_df_6.drop_duplicates(subset=["model_name","model","category","product_status_flag","product_updated_at"], keep='first')
distinct_product  = distinct_product.reset_index(drop=True)
distinct_product["product_id"]=distinct_product.index+1
distinct_product = distinct_product[["product_id","model_name","model","category","product_status_flag","product_updated_at"]]
distinct_product= distinct_product.reset_index(drop=True)
distinct_product["sk_product"]=distinct_product.index+1
distinct_product
distinct_product.head()

,product_id,model_name,model,category,product_status_flag,product_updated_at,sk_product
0,1,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Batteries,active,2020-10-06 22:13:20.630156858,1
1,2,BAT-2.6-16S,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...",Batteries,active,2021-10-27 17:27:00.677187146,2
2,3,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Batteries,active,2021-09-05 15:25:58.465624104,3
3,4,BAT-3.4-7S2P,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,Batteries,active,2020-05-22 16:20:06.218943032,4
4,5,INR25R,Samsung INR 18650 25R LithiumBattery Cells - B...,Batteries,active,2020-04-02 17:18:48.480817949,5

here as we can see we have dublicates values, next week I will fix this issue

In [34]:
distinct = evWest_df_6.drop_duplicates(subset=["manufacturer", "model_name","model","category","product_status_flag","product_updated_at"], keep='first').sort_values(by = ["manufacturer", "category", 'model_name', "weight", "price"])
# distinct= distinct.reset_index(drop=True)
# # we add +1 to index column to start from 1
# distinct['product_id']= distinct.index+1
distinct_df2= distinct.groupby(distinct["model_name"], as_index=False).size()
distinct_df2.loc[distinct_df2['size']>1]
# distinct
# reorg the fields
# products =distinct[["product_id", "model_name", 'model', 'category']]
# products.head()

                                            model_name  size
33                                          Cable Grip     4
34                                         ChargePlate     2
36                                          Controller     2
66                                             Fitting     5
73                                              Heater     2
90                                               Motor     5
92                                                NULL    26
103  S Lithium Ion Battery18650 EV Module - 22.8 V ...     2
123                                          Slip Yoke     2

creating the fact table 

we will bring manufacture id and product id

In [35]:
manufacturer_fact_a= evWest_df_6.merge(distinct_manufacturer, on=["manufacturer", "vendor_since"] )
manufacturer_fact_a.head()
manufacturer_fact_b = manufacturer_fact_a.merge(distinct_product, on=["model_name","model","category","product_status_flag","product_updated_at"] )
manufacturer_fact_b.head()
manufacturer_fact_b  = manufacturer_fact_b.reset_index(drop=True)
manufacturer_fact_b["manu_fact_id"]=manufacturer_fact_b.index+1

In [36]:

print("rows", len(manufacturer_fact_b))
manufacturer_fact_b.columns

rows 187

Index(['category', 'model', 'model_name', 'manufacturer', 'weight', 'price',
       'vendor_since', 'product_release_Date', 'product_status_flag',
       'product_updated_at', 'manufacture_id', 'manu_status_flag',
       'manu_updated_at', 'sk_manufature', 'product_id', 'sk_product',
       'manu_fact_id'],
      dtype='object')

In [37]:
manufacturer_fact = manufacturer_fact_b[["manu_fact_id", "manu_fact_id","product_id", "weight"	,"price" ]]
len(manufacturer_fact)

187

connect the data base

In [23]:
# import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
# #establishing the connection
# auto_commit =extensions.ISOLATION_LEVEL_AUTOCOMMIT
# conn = pg.connect(
#     host="localhost",
#     database="postgres",
#     user="postgres",
#     password="arnold")
# #Creating a cursor object using the cursor() method
# conn.set_isolation_level(auto_commit)
# cursor = conn.cursor()
# query = "CREATE database partsUnlimited"
# #Creating a database
# cursor.execute(query)
# print("Database created successfully........")

# #Closing the connection
# conn.close()

creating manufacturers table

In [38]:
distinct_manufacturer.columns

Index(['manufacture_id', 'manufacturer', 'vendor_since', 'manu_status_flag',
       'manu_updated_at', 'sk_manufature'],
      dtype='object')

In [25]:
distinct_manufacturer.rename(columns={'manufacturer':"manufacturer_name"})

,manufacture_id,manufacturer_name,vendor_since,manu_status_flag,manu_updated_at,sk_manufature
0,1,EV West,2018-01-04,active,2018-01-04,1
1,2,NULL,2019-10-21,active,2019-10-21,2
2,3,Samsung,2020-01-24,active,2020-01-24,3
3,4,Tesla,2020-03-08,active,2020-03-08,4
4,5,RinconPower,2019-10-12,active,2019-10-12,5
5,6,Elcon,2020-05-24,active,2020-05-24,6
6,7,Manzanita,2020-01-31,active,2020-01-31,7
7,8,DilithiumBMS,2021-12-11,active,2021-12-11,8
8,9,Chennic,2019-04-09,active,2019-04-09,9
9,10,Modular EV,2020-11-22,active,2020-11-22,10
10,11,QuickChargePower,2019-10-14,active,2019-10-14,11
11,12,HPEVS,2020-04-11,active,2020-04-11,12
12,13,Curtis,2021-04-14,active,2021-04-14,13
13,14,RinehartMotionSystems,2022-04-02,active,2022-04-02,14
14,15,NetGainMotors,2020-09-02,active,2020-09-02,15
15,16,Deltec,2018-01-01,active,2018-01-01,16
16,17,AEM,2021-01-20,active,2021-01-20,17
17,18,TBSElectronics,2018-02-27,active,2018-02-27,18
18,19,Canadian EV,2019-06-10,active,2019-06-10,19
19,20,MSD Ignition,2020-04-05,active,2020-04-05,20
20,21,SSBC,2022-07-27,active,2022-07-27,21
21,22,AM Racing,2022-08-08,active,2022-08-08,22
22,23,Tyco Kilovac,2018-07-24,active,2018-07-24,23
23,24,EmproShunts,2023-03-30,active,2023-03-30,24
24,25,Smart,2019-06-17,active,2019-06-17,25
25,26,Behr,2022-12-10,active,2022-12-10,26

In [30]:
distinct_manufacturer.columns

Index(['manufacture_id', 'manufacturer', 'vendor_since', 'manu_status_flag',
       'manu_updated_at', 'sk_manufature'],
      dtype='object')

In [28]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.
cursor.execute("DROP TABLE IF EXISTS manufacturers")

#Creating table as per requirement
query ='''CREATE TABLE manufacturers(
    manufacture_id integer UNIQUE NOT NULL,
    sk_manufature integer,
   manufacturer_name VARCHAR(250),
   manu_status_flag VARCHAR(50) ,
   vendor_since DATE,
   manu_updated_at DATE ,
   PRIMARY KEY(manufacture_id)
)'''

##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"


# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("list of tables in partsUnlimited database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

Table has been created successfully........
list of tables in partsUnlimited database
[('public', 'manufacturers')]

Loading the manufacture data

In [29]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
distinct_manufacturer.to_sql('manufacturers', conn, if_exists= 'replace', index=False)
conn.commit()
db.dispose() 
conn.close()

In [31]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
# create the SQL query to insert the data into the table
query = " select * from manufacturers LIMIT 5"
cursor.execute(query) 
tables = cursor.fetchall()

temp = pd.DataFrame(tables, columns=['manufacture_id', 'manufacturer', 'vendor_since', 'manu_status_flag',
       'manu_updated_at', 'sk_manufature'])
print(temp)
cursor.close()
conn.close()

   manufacture_id manufacturer vendor_since manu_status_flag manu_updated_at  \
0               1      EV West   2018-01-04           active      2018-01-04
1               2         NULL   2019-10-21           active      2019-10-21
2               3      Samsung   2020-01-24           active      2020-01-24
3               4        Tesla   2020-03-08           active      2020-03-08
4               5  RinconPower   2019-10-12           active      2019-10-12

   sk_manufature
0              1
1              2
2              3
3              4
4              5

creating product table

In [41]:
distinct_product.columns

Index(['product_id', 'model_name', 'model', 'category', 'product_status_flag',
       'product_updated_at', 'sk_product'],
      dtype='object')

In [49]:
distinct_product = distinct_product.rename(columns={'model':"product_description","model_name":"product_name", "category": "product_category"})

In [50]:
distinct_product.columns

Index(['product_id', 'product_name', 'product_description', 'product_category',
       'product_status_flag', 'product_updated_at', 'sk_product'],
      dtype='object')

In [52]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.
cursor.execute("DROP TABLE IF EXISTS products")

#Creating table as per requirement
query ='''CREATE TABLE products(
    product_id integer UNIQUE NOT NULL,
    sk_product integer,
   product_name VARCHAR(2000),
   product_description VARCHAR(2000) ,
   product_category VARCHAR(50),
   product_status_flag VARCHAR(50),
   product_updated_at DATE,
   PRIMARY KEY(product_id)
)'''

##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"


# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("list of tables in partsUnlimited database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

Table has been created successfully........
list of tables in partsUnlimited database
[('public', 'manufacturers'), ('public', 'products')]

loading to the product table

In [53]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
distinct_product.to_sql('products', conn, if_exists= 'replace', index=False)
conn.commit()
db.dispose() 
conn.close()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
# create the SQL query to insert the data into the table
query = " select * from products LIMIT 5"
cursor.execute(query) 
tables = cursor.fetchall()

temp = pd.DataFrame(tables, columns=['product_id', 'product_name', 'product_description', 'product_category',
       'product_status_flag', 'product_updated_at', 'sk_product'])
print(temp)
cursor.close()
conn.close()