transforming evWest

In [17]:
import pandas as pd

In [18]:
evWest_initial_df = pd.read_csv("data/evWest.csv")
print("columns", evWest_initial_df.columns.to_list())
print("rows", len(evWest_initial_df))
evWest_initial_df.head(10)

columns ['category', 'model', 'model_name', 'manufacturer', 'weight', 'price']
rows 187

,category,model,model_name,manufacturer,weight,price
0,Batteries,Lithium 2170 21700 Battery Cell\n5000mAh 14....,: INR2170M50L T\n,: EV West\n,: 0.00,: 0.00
1,Batteries,"Lithium Ion Battery - 60.8V , 2.6kWh\nThese ...",: BAT-2.6-\n16S\n,:\n,: 38.00,: 38.00
2,Batteries,Lithium Super Cells 1.6 kWh - JH3\n63Ah 7S H...,: BAT-1.7-7S\n,: EV West\n,: 20.00,: 20.00
3,Batteries,Lithium Super Cells 3.2 kWh - JP3\n128Ah 2P7...,: BAT-3.4-\n7S2P\n,:\n,: 40.00,: 40.00
4,Batteries,Samsung INR 18650 25R Lithium\nBattery Cells...,: INR25R\n,: Samsung\n,: 0.00,: 0.00
5,Batteries,Samsung SDI 60Ah Lithium Ion\nBattery Cell\n...,: SM-SDI-60\n,: Samsung\n,: 5.00,: 5.00
6,Batteries,Samsung SDI ESS Energy Storage\nBattery 16S ...,: ESS-3.5\n,: Samsung\n,: 110.00,: 110.00
7,Batteries,Samsung SDI ESS Energy Storage\nBattery 22S ...,: ESS-7.6\n,: Samsung\n,: 140.00,: 140.00
8,Batteries,Tesla,S Lithium Ion Battery\n18650 EV Module - 22.8...,: Tesla\n,: 55.00,: 55.00
9,Batteries,$799.00$990.00Tesla Smart Lithium Ion Batter...,: 18650-3\n,: Tesla\n,: 42.00,: 42.00

In [19]:
evWest_df_1= evWest_initial_df.replace(':','', regex=True)
#evWest_df_1.head()
evWest_df_2 = evWest_df_1.replace('\n','', regex=True)
# evWest_df_2.head(20)
evWest_df_3 = evWest_df_2.apply(lambda x : x.str.strip() if x.dtype == 'object' else x)
evWest_df_3.dtypes
evWest_df_3[["price", "weight"]]= evWest_df_3[["price", "weight"]].astype('float')
evWest_df_3.dtypes
evWest_df_3.head(10)
# evWest_df_3['manufacture_effective_date']= pd.Timestamp('2022-04-10')
evWest_df_3.head()

,category,model,model_name,manufacturer,weight,price
0,Batteries,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,INR2170M50L T,EV West,0.0,0.0
1,Batteries,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...",BAT-2.6-16S,,38.0,38.0
2,Batteries,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,BAT-1.7-7S,EV West,20.0,20.0
3,Batteries,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,BAT-3.4-7S2P,,40.0,40.0
4,Batteries,Samsung INR 18650 25R LithiumBattery Cells - B...,INR25R,Samsung,0.0,0.0

In [20]:
import numpy as np
start_date = '2018-01-01'
end_date = '2023-04-11'
num_rows = 187 # number of rows in the DataFrame
# Randomly sample dates from the sequence
# Generate a sequence of dates within the range of years
dates = pd.date_range(start=start_date, end=end_date)
random_dates = np.random.choice(dates, size=num_rows, replace=True)

# saving in a new data frame 
evWest_df_4 = evWest_df_3
evWest_df_4["vendor_since"] = random_dates
#pd.date_range(start='2020-01-01', end='2023-04-04', inclusive="both",periods=187)# periods represents days, 1826 about 5 years

# define a function to generate random dates
def random_date(start, end):
    return pd.to_datetime(np.random.randint(start.value, end.value, size=1)[0], unit='ns')

# product release date 
evWest_df_4["product_release_Date"] =   evWest_df_4.apply(lambda row: random_date(row['vendor_since'], pd.Timestamp.now()), axis=1)
evWest_df_4.head(20)

,category,model,model_name,manufacturer,weight,price,vendor_since,product_release_Date
0,Batteries,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,INR2170M50L T,EV West,0.0,0.0,2022-11-11,2023-03-11 05:03:43.993603795
1,Batteries,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...",BAT-2.6-16S,,38.0,38.0,2021-10-14,2021-12-26 22:32:33.659453797
2,Batteries,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,BAT-1.7-7S,EV West,20.0,20.0,2021-06-16,2021-12-31 23:59:14.226250593
3,Batteries,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,BAT-3.4-7S2P,,40.0,40.0,2021-05-18,2022-03-18 13:40:27.113714967
4,Batteries,Samsung INR 18650 25R LithiumBattery Cells - B...,INR25R,Samsung,0.0,0.0,2019-11-19,2022-09-06 03:41:28.342921799
5,Batteries,Samsung SDI 60Ah Lithium IonBattery CellThis i...,SM-SDI-60,Samsung,5.0,5.0,2022-11-21,2023-01-24 18:31:03.926486896
6,Batteries,Samsung SDI ESS Energy StorageBattery 16S 60 V...,ESS-3.5,Samsung,110.0,110.0,2020-08-04,2022-06-04 16:40:55.711575386
7,Batteries,Samsung SDI ESS Energy StorageBattery 22S 80 V...,ESS-7.6,Samsung,140.0,140.0,2023-04-05,2023-04-10 15:28:57.480929113
8,Batteries,Tesla,S Lithium Ion Battery18650 EV Module - 22.8 V ...,Tesla,55.0,55.0,2019-10-19,2021-04-06 17:14:29.448566975
9,Batteries,$799.00$990.00Tesla Smart Lithium Ion Battery1...,18650-3,Tesla,42.0,42.0,2018-08-29,2021-02-16 13:54:59.426289457
10,BatteryEnclosuresAcc,MX150 Bulkhead and Connector -Battery Box CAN ...,EVW -MX150,EV West,1.0,1.0,2022-01-26,2023-01-11 05:37:17.340109826
11,BatteryEnclosuresAcc,Rincon Power HVBD4AXR - 400 AContinuous - 1000...,RP-HVBD,RinconPower,3.0,3.0,2020-02-29,2021-10-20 17:28:54.639852936
12,BatteryEnclosuresAcc,VW Beetle Front Battery Box - '58-71Aluminum F...,EVW -FBB1,EV West,20.0,20.0,2022-03-23,2022-04-10 18:17:08.748559565
13,BatteryEnclosuresAcc,VW Beetle Rear Battery Box - '58-71Aluminum Re...,EVW -RBB1,EV West,20.0,20.0,2020-09-28,2021-07-05 13:51:06.171461250
14,Chargers,Elcon 3.3kW UF CAN Bus Chargerwith EVCCThe UFC...,UFC33-CAN,Elcon,19.0,19.0,2019-01-12,2021-05-23 13:24:10.825380047
15,Chargers,Elcon PFC1500 ChargerThis item has been discon...,ELC1500,Elcon,15.0,15.0,2018-11-07,2023-01-29 09:25:34.065381016
16,Chargers,Manzanita Micro PFC 20-XMChargerThis product i...,MM PFC20-XM,Manzanita,16.0,16.0,2019-11-16,2020-08-20 21:02:22.751294350
17,Chargers,Manzanita Micro PFC 30-XMChargerThe PFC-30M is...,MM PFC30-XM,Manzanita,17.2,17.2,2021-01-13,2022-09-25 22:03:17.445669518
18,Chargers,Manzanita Micro PFC 40-XMChargerThe PFC-40M is...,MM PFC40-XM,Manzanita,20.0,20.0,2018-12-15,2019-09-30 18:53:33.475142308
19,Charging_Accessories,EVCC 3.0 - CAN Bus ChargerController by Dilith...,TS-EVCC3,DilithiumBMS,1.0,1.0,2019-01-12,2022-08-27 18:07:03.594584172

In [21]:
def status_flag_maker(product_release_Date):
    #a= evWest_df_4["product_release_Date"][0]
    # b = pd.Timestamp.now()
    # diff = b - a 
    # diff= diff.days
    #730 is two years
    current_date = pd.Timestamp.now()
    diff = product_release_Date- current_date
    diff = diff.days
    if diff > 730:
        status = "inactive"
        # print("inactive")
    else: 
        status = "active"
        # print("active")
    return status

we need fallowing fields in our table
- manufacture id
- manufacture_name
- status_flag
- updated_at 

we need product

- product id
- product_name
- product_description
- produc_category
- produc_category_prev
- product_name_prev

In [22]:
evWest_df_4.apply(lambda row: random_date(row['vendor_since'], pd.Timestamp.now()), axis=1)
evWest_df_4["product_status_flag"] = evWest_df_4.apply(lambda row: status_flag_maker(row["product_release_Date"]), axis=1)
evWest_df_4.head()

,category,model,model_name,manufacturer,weight,price,vendor_since,product_release_Date,product_status_flag
0,Batteries,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,INR2170M50L T,EV West,0.0,0.0,2022-11-11,2023-03-11 05:03:43.993603795,active
1,Batteries,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...",BAT-2.6-16S,,38.0,38.0,2021-10-14,2021-12-26 22:32:33.659453797,active
2,Batteries,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,BAT-1.7-7S,EV West,20.0,20.0,2021-06-16,2021-12-31 23:59:14.226250593,active
3,Batteries,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,BAT-3.4-7S2P,,40.0,40.0,2021-05-18,2022-03-18 13:40:27.113714967,active
4,Batteries,Samsung INR 18650 25R LithiumBattery Cells - B...,INR25R,Samsung,0.0,0.0,2019-11-19,2022-09-06 03:41:28.342921799,active

business rule 
- company sells same product for two years, so if the product release so if there has been two years since the product release date we assign inactive and viseversa
- manufacturer : if the manufacturer does not have active product we will set the manufacturer status inactive  and vise versa active

## creating manufacturer dimensions

1- find unique manufacturers

2- create id

3- set manufacture status active

In [ ]:
evWest_df_4["manufacturer"].isna().sum()

In [34]:
evWest_df_4["manufacturer"]=evWest_df_4["manufacturer"].mask(evWest_df_4["manufacturer"] == '')

In [39]:
evWest_df_4["manufacturer"].isna().sum()

12

In [41]:
# first fill all emty values with null
evWest_df_5 = evWest_df_4.fillna("NULL")
evWest_df_5.isna().sum()

category                0
model                   0
model_name              0
manufacturer            0
weight                  0
price                   0
vendor_since            0
product_release_Date    0
product_status_flag     0
dtype: int64

In [42]:
evWest_df_5["manufacturer"].value_counts()

EV West                  75
Canadian EV              24
HPEVS                    15
NULL                     12
Tesla                    11
Smart                     5
Elcon                     5
Manzanita                 5
Curtis                    5
Samsung                   4
Deltec                    3
AEM                       3
NetGainMotors             3
AM Racing                 2
TBSElectronics            2
RinehartMotionSystems     2
DilithiumBMS              2
QuickChargePower          1
Modular EV                1
Chennic                   1
MSD Ignition              1
SSBC                      1
Tyco Kilovac              1
EmproShunts               1
RinconPower               1
Behr                      1
Name: manufacturer, dtype: int64

In [60]:
distinct_manufacturer = evWest_df_5.drop_duplicates(subset=["manufacturer", "vendor_since"], keep='first')
distinct_manufacturer = distinct_manufacturer.reset_index(drop=True)
distinct_manufacturer["id"]=distinct_manufacturer.index+1
distinct_manufacturer= distinct_manufacturer[["id","manufacturer", "vendor_since"]]
distinct_manufacturer.loc[0:5]

   id manufacturer vendor_since
0   1      EV West   2022-11-11
1   2         NULL   2021-10-14
2   3      EV West   2021-06-16
3   4         NULL   2021-05-18
4   5      Samsung   2019-11-19
5   6      Samsung   2022-11-21

In [63]:
distinct = evWest_df_5.drop_duplicates(subset=["manufacturer", "category", 'model_name', "weight", "price"], keep='first')
distinct[["manufacturer", "category", 'model_name', "weight", "price"]].sort_values(by = ["manufacturer", "category", 'model_name', "weight", "price"])
distinct= distinct.reset_index(drop=True)
# we add +1 to index column to start from 1
distinct['product_id']= distinct.index+1
# reorg the fields
distinct.loc[0:5]
distinct
products =distinct[["product_id", "model_name", 'model', 'category']]
products.head()

,product_id,model_name,model,category
0,1,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Batteries
1,2,BAT-2.6-16S,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...",Batteries
2,3,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Batteries
3,4,BAT-3.4-7S2P,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,Batteries
4,5,INR25R,Samsung INR 18650 25R LithiumBattery Cells - B...,Batteries