--------------------- transforming evWest data --------------

In [318]:
import pandas as pd
import numpy as np

In [319]:
evWest_initial_df = pd.read_csv("data/evWest.csv")
print("columns", evWest_initial_df.columns.to_list())
print("rows", len(evWest_initial_df))
evWest_initial_df.head(10)

columns ['category', 'model', 'model_description', 'model_name', 'manufacturer', 'weight', 'price']
rows 187

,category,model,model_description,model_name,manufacturer,weight,price
0,Batteries,INR2170M50L T\n,Lithium 2170 21700 Battery Cell\n5000mAh 14....,Lithium 2170 21700 Battery Cell,: EV West\n,: 0.00,$799.00
1,Batteries,BAT-2.6-\n16S\n,"Lithium Ion Battery - 60.8V , 2.6kWh\nThese ...","Lithium Ion Battery - 60.8V , 2.6kWh",:\n,: 38.00,$799.00
2,Batteries,BAT-1.7-7S\n,Lithium Super Cells 1.6 kWh - JH3\n63Ah 7S H...,Lithium Super Cells 1.6 kWh - JH3,: EV West\n,: 20.00,$499.00
3,Batteries,BAT-3.4-\n7S2P\n,Lithium Super Cells 3.2 kWh - JP3\n128Ah 2P7...,Lithium Super Cells 3.2 kWh - JP3,:\n,: 40.00,$879.00
4,Batteries,INR25R\n,Samsung INR 18650 25R Lithium\nBattery Cells...,Samsung INR 18650 25R Lithium,: Samsung\n,: 0.00,$330.00
5,Batteries,SM-SDI-60\n,Samsung SDI 60Ah Lithium Ion\nBattery Cell\n...,Samsung SDI 60Ah Lithium Ion,: Samsung\n,: 5.00,$59.00
6,Batteries,ESS-3.5\n,Samsung SDI ESS Energy Storage\nBattery 16S ...,Samsung SDI ESS Energy Storage,: Samsung\n,: 110.00,$699.00
7,Batteries,ESS-7.6\n,Samsung SDI ESS Energy Storage\nBattery 22S ...,Samsung SDI ESS Energy Storage,: Samsung\n,: 140.00,$999.00
8,Batteries,Tesla MS\n,Tesla,Tesla,: Tesla\n,: 55.00,"$1,580.00"
9,Batteries,18650-3\n,$799.00$990.00Tesla Smart Lithium Ion Batter...,$799.00$990.00Tesla Smart Lithium Ion Battery,: Tesla\n,: 42.00,$799.00

removing unnessary chrachers and adjusting the data types

In [320]:
evWest_df_1= evWest_initial_df.replace(':','', regex=True)
#evWest_df_1.head()
evWest_df_2 = evWest_df_1.replace('\n','', regex=True)
evWest_df_2['price']= evWest_df_2.price.str.replace("$", "")
# evWest_df_2.head(20)
evWest_df_2['price']= evWest_df_2.price.str.replace(",", "")
evWest_df_2.head(20)
evWest_df_2['price']= evWest_df_2.price.str.replace(r"[a-zA-Z]",'')
evWest_df_2.head(10)
evWest_df_2['price']= evWest_df_2.price.str.replace(r"&",'')
evWest_df_2.head(50)
evWest_df_3 = evWest_df_2.apply(lambda x : x.str.strip() if x.dtype == 'object' else x)
evWest_df_3.dtypes
evWest_df_3[["price", "weight"]]= evWest_df_3[["price", "weight"]].astype('float')
evWest_df_3.dtypes
# evWest_df_3.head(10)
# # evWest_df_3['manufacture_effective_date']= pd.Timestamp('2022-04-10')
# evWest_df_3.head()

/tmp/ipykernel_6459/3319203021.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  evWest_df_2['price']= evWest_df_2.price.str.replace("$", "")
/tmp/ipykernel_6459/3319203021.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  evWest_df_2['price']= evWest_df_2.price.str.replace(r"[a-zA-Z]",'')

category              object
model                 object
model_description     object
model_name            object
manufacturer          object
weight               float64
price                float64
dtype: object

In [321]:
len(evWest_df_3)

187

In [322]:
evWest_df_3.head()

,category,model,model_description,model_name,manufacturer,weight,price
0,Batteries,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Lithium 2170 21700 Battery Cell,EV West,0.0,799.0
1,Batteries,BAT-2.6-16S,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...","Lithium Ion Battery - 60.8V , 2.6kWh",,38.0,799.0
2,Batteries,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Lithium Super Cells 1.6 kWh - JH3,EV West,20.0,499.0
3,Batteries,BAT-3.4-7S2P,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,Lithium Super Cells 3.2 kWh - JP3,,40.0,879.0
4,Batteries,INR25R,Samsung INR 18650 25R LithiumBattery Cells - B...,Samsung INR 18650 25R Lithium,Samsung,0.0,330.0

In [323]:
len(evWest_df_3.model.unique())

146

In [324]:
evWest_df_3.groupby('model', as_index=False).size()

           model  size
0                   26
1     1000aShunt     1
2      1313-4401     1
3           1314     1
4        18650-3     1
..           ...   ...
141  Vac PumpCVR     1
142  WRXThrottle     1
143     Zilla 1K     1
144     Zilla 2K     1
145      bracket     1

[146 rows x 2 columns]

In [325]:
evWest_df_3.isna().sum()
missing_model_values = evWest_df_3[evWest_df_3['model'] == ''].index

for item in missing_model_values:
    evWest_df_3.loc[item,["model"]]= "M"+str(item)

missing_model_values = evWest_df_3[evWest_df_3['model'] == ''].index

now we have all unique model names

In [326]:
len(evWest_df_3.model.unique())

171

adding vendor_since	 and product_release_Date

Sinse the pdf data is limited , I have populadated this fields using random dates , I made sure that product_release_date is after the vendor since

---- creating manufacturer fields------

In [327]:
evWest_df_4 = evWest_df_3.copy()

In [328]:
evWest_df_4['manufacturer']= evWest_df_4.manufacturer.replace('', 'NULL')

In [329]:
manufacturer_distinct = evWest_df_4.drop_duplicates(subset=['manufacturer'], keep='first')
manufacturer_distinct= manufacturer_distinct.loc[ :, ["manufacturer"]]
manufacturer_distinct

              manufacturer
0                  EV West
1                     NULL
4                  Samsung
8                    Tesla
11             RinconPower
14                   Elcon
16               Manzanita
19            DilithiumBMS
20                 Chennic
22              Modular EV
26        QuickChargePower
32                   HPEVS
35                  Curtis
45   RinehartMotionSystems
53           NetGainMotors
85                  Deltec
88                     AEM
93          TBSElectronics
95             Canadian EV
99            MSD Ignition
112                   SSBC
149              AM Racing
175           Tyco Kilovac
176            EmproShunts
177                  Smart
180                   Behr

In [330]:
# evWest_df_4["manufacturer"]=evWest_df_4["manufacturer"].mask(evWest_df_4["manufacturer"] == '')
unique_manufacturers = manufacturer_distinct.manufacturer.unique()
start_date = '2018-01-01'
end_date = '2023-04-11'
num_rows = len(evWest_df_3.manufacturer.unique())# number of rows in the DataFrame
# Randomly sample dates from the sequence
# Generate a sequence of dates within the range of years
dates = pd.date_range(start=start_date, end=end_date)
random_dates = np.random.choice(dates, size=len(unique_manufacturers), replace=True)

# Create a new DataFrame with "manufacturer" and "vendor_since" columns
manufacturer_distinct_v2 = pd.DataFrame({"manufacturer": unique_manufacturers, "manucafturer_since": random_dates})

In [331]:
manufacturer_distinct_v2['manu_row_effective']=manufacturer_distinct_v2["manucafturer_since"]
manufacturer_distinct_v2['manu_row_expiration']= (np.nan)
manufacturer_distinct_v2['manu_row_expiration'] = manufacturer_distinct_v2['manu_row_expiration'].astype('datetime64[as]')
manufacturer_distinct_v2.head()

  manufacturer manucafturer_since manu_row_effective manu_row_expiration
0      EV West         2022-03-22         2022-03-22                 NaT
1         NULL         2018-02-08         2018-02-08                 NaT
2      Samsung         2020-09-14         2020-09-14                 NaT
3        Tesla         2023-02-27         2023-02-27                 NaT
4  RinconPower         2021-08-06         2021-08-06                 NaT

In [332]:
manufacturer_distinct_v2= manufacturer_distinct_v2.reset_index(drop=True)
manufacturer_distinct_v2["manufacture_id"] =manufacturer_distinct_v2.index+1
#setting all initial values are as active 
manufacturer_distinct_v2["manu_row_ind"]= "active"
# #initial sk we just set to the index 
manufacturer_distinct_v2= manufacturer_distinct_v2.reset_index(drop=True)
manufacturer_distinct_v2["sk_manufature"]=manufacturer_distinct_v2.index+1
manufacturer_distinct_v2.head()
manufacturer_distinct_v2.rename(columns = {'manufacturer':'manufacturer_name'}, inplace = True)
manufacturer_distinct_v2.head()

,manufacturer_name,manucafturer_since,manu_row_effective,manu_row_expiration,manufacture_id,manu_row_ind,sk_manufature
0,EV West,2022-03-22,2022-03-22,NaT,1,active,1
1,NULL,2018-02-08,2018-02-08,NaT,2,active,2
2,Samsung,2020-09-14,2020-09-14,NaT,3,active,3
3,Tesla,2023-02-27,2023-02-27,NaT,4,active,4
4,RinconPower,2021-08-06,2021-08-06,NaT,5,active,5

creating the manufacturer_dim  in the correct order

In [333]:
manufacturer_dim = manufacturer_distinct_v2[["manufacture_id","manufacturer_name", "sk_manufature","manucafturer_since", "manu_row_effective", "manu_row_expiration",'manu_row_ind' ]]
manufacturer_dim.head()

,manufacture_id,manufacturer_name,sk_manufature,manucafturer_since,manu_row_effective,manu_row_expiration,manu_row_ind
0,1,EV West,1,2022-03-22,2022-03-22,NaT,active
1,2,NULL,2,2018-02-08,2018-02-08,NaT,active
2,3,Samsung,3,2020-09-14,2020-09-14,NaT,active
3,4,Tesla,4,2023-02-27,2023-02-27,NaT,active
4,5,RinconPower,5,2021-08-06,2021-08-06,NaT,active

In [334]:
manufacturer_dim_date_taken = manufacturer_distinct_v2[["manufacture_id","manufacturer_name", "sk_manufature", "manu_row_effective", "manu_row_expiration",'manu_row_ind' ]]

In [335]:
manufacturer_dim_date_taken.head()

,manufacture_id,manufacturer_name,sk_manufature,manu_row_effective,manu_row_expiration,manu_row_ind
0,1,EV West,1,2022-03-22,NaT,active
1,2,NULL,2,2018-02-08,NaT,active
2,3,Samsung,3,2020-09-14,NaT,active
3,4,Tesla,4,2023-02-27,NaT,active
4,5,RinconPower,5,2021-08-06,NaT,active

In [336]:
len(manufacturer_dim_date_taken)

26

In [379]:
manufacturer_dim_date_taken.manufacturer_name

0                   EV West
1                      NULL
2                   Samsung
3                     Tesla
4               RinconPower
5                     Elcon
6                 Manzanita
7              DilithiumBMS
8                   Chennic
9                Modular EV
10         QuickChargePower
11                    HPEVS
12                   Curtis
13    RinehartMotionSystems
14            NetGainMotors
15                   Deltec
16                      AEM
17           TBSElectronics
18              Canadian EV
19             MSD Ignition
20                     SSBC
21                AM Racing
22             Tyco Kilovac
23              EmproShunts
24                    Smart
25                     Behr
Name: manufacturer_name, dtype: object

------

date -dim

In [337]:
manufacturer_date = manufacturer_distinct_v2[["manucafturer_since"]]
manufacturer_date.head()
manufacturer_date.loc[:, "year"] = manufacturer_date["manucafturer_since"].dt.year
manufacturer_date.loc[:, "month"] = manufacturer_date["manucafturer_since"].dt.month
manufacturer_date.loc[:, "day"] = manufacturer_date["manucafturer_since"].dt.day
manufacturer_date.head()

/tmp/ipykernel_6459/1473497591.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manufacturer_date.loc[:, "year"] = manufacturer_date["manucafturer_since"].dt.year
/tmp/ipykernel_6459/1473497591.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manufacturer_date.loc[:, "month"] = manufacturer_date["manucafturer_since"].dt.month
/tmp/ipykernel_6459/1473497591.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  manufacturer_date.loc[:, "day"] = manufacturer_date["manucafturer_since"].dt.day

  manucafturer_since  year  month  day
0         2022-03-22  2022      3   22
1         2018-02-08  2018      2    8
2         2020-09-14  2020      9   14
3         2023-02-27  2023      2   27
4         2021-08-06  2021      8    6

In [338]:
len(manufacturer_date)

26

In [339]:
manufacturer_date= manufacturer_date.reset_index(drop=True)
manufacturer_date["date_id"] = manufacturer_date.index+1

In [340]:
manufacturer_date.head()

  manucafturer_since  year  month  day  date_id
0         2022-03-22  2022      3   22        1
1         2018-02-08  2018      2    8        2
2         2020-09-14  2020      9   14        3
3         2023-02-27  2023      2   27        4
4         2021-08-06  2021      8    6        5

In [341]:
len(manufacturer_date)

26

In [342]:
manufacturer_date.rename(columns = {'manucafturer_since':'date'}, inplace = True)

In [343]:
date_dim = manufacturer_date[["date_id", "day","month", "year", "date"]]
date_dim.head()

   date_id  day  month  year       date
0        1   22      3  2022 2022-03-22
1        2    8      2  2018 2018-02-08
2        3   14      9  2020 2020-09-14
3        4   27      2  2023 2023-02-27
4        5    6      8  2021 2021-08-06

---------------------

## product dim

In [344]:
evWest_df_4['model']= evWest_df_4.model.replace('', 'NULL')

In [345]:
evWest_df_4.columns

Index(['category', 'model', 'model_description', 'model_name', 'manufacturer',
       'weight', 'price'],
      dtype='object')

- After my research I understand that model is not unqiue I also need to check for model name too create the uniqueness 
- I checked the dublicates below and it seems that same products has been listed multiple times under micellaneous and one under used_companents
- to keep things simple and we just keep the first record and ignore the dublicated listed because at the end the company has only one product with Parts Unlimited

In [346]:
#group by to check how many times each row repaeted 
test= evWest_df_4.groupby(["model", "model_name"], as_index=False).size()
print(test.loc[test['size'] >1])

           model                      model_name  size
37   ChargePlate  J1772 Inlet Mounting Plate for     2
155    Slip Yoke    Spicer 1350 Series 27 Spline     2
172     Tesla MS                           Tesla     2

My business questions requires an over time overview of manufacturer and their products. Since our data is limited we are generating a random date to create this

In [347]:
product_distinct = evWest_df_4.drop_duplicates(subset=['model', "model_name", "category"], keep='first')
product_distinct= product_distinct.loc[ :, ['category', 'model', 'model_description', 'model_name']]
product_distinct.head()

,category,model,model_description,model_name
0,Batteries,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Lithium 2170 21700 Battery Cell
1,Batteries,BAT-2.6-16S,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...","Lithium Ion Battery - 60.8V , 2.6kWh"
2,Batteries,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Lithium Super Cells 1.6 kWh - JH3
3,Batteries,BAT-3.4-7S2P,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,Lithium Super Cells 3.2 kWh - JP3
4,Batteries,INR25R,Samsung INR 18650 25R LithiumBattery Cells - B...,Samsung INR 18650 25R Lithium

In [348]:
product_distinct['prod_updated_at']= (np.nan)
product_distinct['prod_updated_at'] = product_distinct['prod_updated_at'].astype('datetime64[as]')
product_distinct['product_name_prev']= " "

In [349]:
product_distinct.rename(columns = {'model':'product_code'}, inplace = True)
product_distinct.rename(columns = {'model_name':'product_name'}, inplace = True)
product_distinct.rename(columns = {'model_description':'product_description'}, inplace = True)
product_distinct.rename(columns = {'category':'product_category'}, inplace = True)

In [350]:
product_distinct= product_distinct.reset_index(drop=True)
product_distinct["product_id"] =product_distinct.index+1

In [351]:
product_distinct.head()

,product_category,product_code,product_description,product_name,prod_updated_at,product_name_prev,product_id
0,Batteries,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Lithium 2170 21700 Battery Cell,NaT,,1
1,Batteries,BAT-2.6-16S,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...","Lithium Ion Battery - 60.8V , 2.6kWh",NaT,,2
2,Batteries,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Lithium Super Cells 1.6 kWh - JH3,NaT,,3
3,Batteries,BAT-3.4-7S2P,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,Lithium Super Cells 3.2 kWh - JP3,NaT,,4
4,Batteries,INR25R,Samsung INR 18650 25R LithiumBattery Cells - B...,Samsung INR 18650 25R Lithium,NaT,,5

In [352]:
product_dim = product_distinct[["product_id","product_code","product_name","product_category",  "product_description","product_name_prev", "prod_updated_at"]]
product_dim.head()

,product_id,product_code,product_name,product_category,product_description,product_name_prev,prod_updated_at
0,1,INR2170M50L T,Lithium 2170 21700 Battery Cell,Batteries,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,,NaT
1,2,BAT-2.6-16S,"Lithium Ion Battery - 60.8V , 2.6kWh",Batteries,"Lithium Ion Battery - 60.8V , 2.6kWhThese batt...",,NaT
2,3,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH3,Batteries,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,,NaT
3,4,BAT-3.4-7S2P,Lithium Super Cells 3.2 kWh - JP3,Batteries,Lithium Super Cells 3.2 kWh - JP3128Ah 2P7S Hi...,,NaT
4,5,INR25R,Samsung INR 18650 25R Lithium,Batteries,Samsung INR 18650 25R LithiumBattery Cells - B...,,NaT

----------------------------

creating the manufacturer fact table

In [353]:
manufacturer_facts_v1 =  evWest_df_4
manufacturer_facts_v1.columns

Index(['category', 'model', 'model_description', 'model_name', 'manufacturer',
       'weight', 'price'],
      dtype='object')

In [354]:
manufacturer_facts_v1.rename(columns = {'manufacturer':'manufacturer_name'}, inplace = True)

In [355]:

manufacturer_facts_v2 =  pd.merge(manufacturer_facts_v1, manufacturer_dim, on = ["manufacturer_name"])
manufacturer_facts_v2.head()

,category,model,model_description,model_name,manufacturer_name,weight,price,manufacture_id,sk_manufature,manucafturer_since,manu_row_effective,manu_row_expiration,manu_row_ind
0,Batteries,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Lithium 2170 21700 Battery Cell,EV West,0.0,799.0,1,1,2022-03-22,2022-03-22,NaT,active
1,Batteries,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Lithium Super Cells 1.6 kWh - JH3,EV West,20.0,499.0,1,1,2022-03-22,2022-03-22,NaT,active
2,BatteryEnclosuresAcc,EVW -MX150,MX150 Bulkhead and Connector -Battery Box CAN ...,MX150 Bulkhead and Connector -,EV West,1.0,19.0,1,1,2022-03-22,2022-03-22,NaT,active
3,BatteryEnclosuresAcc,EVW -FBB1,VW Beetle Front Battery Box - '58-71Aluminum F...,VW Beetle Front Battery Box - '58-,EV West,20.0,999.0,1,1,2022-03-22,2022-03-22,NaT,active
4,BatteryEnclosuresAcc,EVW -RBB1,VW Beetle Rear Battery Box - '58-71Aluminum Re...,VW Beetle Rear Battery Box - '58-,EV West,20.0,999.0,1,1,2022-03-22,2022-03-22,NaT,active

In [356]:
manufacturer_facts_v2["manufacture_id"].nunique()

26

In [357]:
manufacturer_facts_v2.columns

Index(['category', 'model', 'model_description', 'model_name',
       'manufacturer_name', 'weight', 'price', 'manufacture_id',
       'sk_manufature', 'manucafturer_since', 'manu_row_effective',
       'manu_row_expiration', 'manu_row_ind'],
      dtype='object')

In [366]:
manufacturer_facts_v2.rename(columns = {'model':'product_code'}, inplace = True)
manufacturer_facts_v2.rename(columns = {'model_name':'product_name'}, inplace = True)
manufacturer_facts_v2.rename(columns = {'model_description':'product_description'}, inplace = True)
manufacturer_facts_v2.rename(columns = {'category':'product_category'}, inplace = True)
manufacturer_facts_v2.rename(columns = {'manucafturer_since':'date'}, inplace = True)

In [367]:
manufacturer_facts_v3 =  pd.merge(manufacturer_facts_v2, product_dim, on = ['product_code',"product_name", "product_category"])
manufacturer_facts_v3.head()

,product_category,product_code,product_description_x,product_name,manufacturer_name,weight,price,manufacture_id,sk_manufature,date,manu_row_effective,manu_row_expiration,manu_row_ind,product_id,product_description_y,product_name_prev,prod_updated_at
0,Batteries,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Lithium 2170 21700 Battery Cell,EV West,0.0,799.0,1,1,2022-03-22,2022-03-22,NaT,active,1,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,,NaT
1,Batteries,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Lithium Super Cells 1.6 kWh - JH3,EV West,20.0,499.0,1,1,2022-03-22,2022-03-22,NaT,active,3,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,,NaT
2,BatteryEnclosuresAcc,EVW -MX150,MX150 Bulkhead and Connector -Battery Box CAN ...,MX150 Bulkhead and Connector -,EV West,1.0,19.0,1,1,2022-03-22,2022-03-22,NaT,active,11,MX150 Bulkhead and Connector -Battery Box CAN ...,,NaT
3,BatteryEnclosuresAcc,EVW -FBB1,VW Beetle Front Battery Box - '58-71Aluminum F...,VW Beetle Front Battery Box - '58-,EV West,20.0,999.0,1,1,2022-03-22,2022-03-22,NaT,active,13,VW Beetle Front Battery Box - '58-71Aluminum F...,,NaT
4,BatteryEnclosuresAcc,EVW -RBB1,VW Beetle Rear Battery Box - '58-71Aluminum Re...,VW Beetle Rear Battery Box - '58-,EV West,20.0,999.0,1,1,2022-03-22,2022-03-22,NaT,active,14,VW Beetle Rear Battery Box - '58-71Aluminum Re...,,NaT

In [368]:
len(manufacturer_facts_v3)

187

In [369]:
manufacturer_facts_v3["product_id"].nunique()

187

In [370]:
manufacturer_facts_v4 =  pd.merge(manufacturer_facts_v3, date_dim, on = ['date'])
manufacturer_facts_v4.head()

,product_category,product_code,product_description_x,product_name,manufacturer_name,weight,price,manufacture_id,sk_manufature,date,...,manu_row_expiration,manu_row_ind,product_id,product_description_y,product_name_prev,prod_updated_at,date_id,day,month,year
0,Batteries,INR2170M50L T,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,Lithium 2170 21700 Battery Cell,EV West,0.0,799.0,1,1,2022-03-22,...,NaT,active,1,Lithium 2170 21700 Battery Cell5000mAh 14.4A ...,,NaT,1,22,3,2022
1,Batteries,BAT-1.7-7S,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,Lithium Super Cells 1.6 kWh - JH3,EV West,20.0,499.0,1,1,2022-03-22,...,NaT,active,3,Lithium Super Cells 1.6 kWh - JH363Ah 7S High ...,,NaT,1,22,3,2022
2,BatteryEnclosuresAcc,EVW -MX150,MX150 Bulkhead and Connector -Battery Box CAN ...,MX150 Bulkhead and Connector -,EV West,1.0,19.0,1,1,2022-03-22,...,NaT,active,11,MX150 Bulkhead and Connector -Battery Box CAN ...,,NaT,1,22,3,2022
3,BatteryEnclosuresAcc,EVW -FBB1,VW Beetle Front Battery Box - '58-71Aluminum F...,VW Beetle Front Battery Box - '58-,EV West,20.0,999.0,1,1,2022-03-22,...,NaT,active,13,VW Beetle Front Battery Box - '58-71Aluminum F...,,NaT,1,22,3,2022
4,BatteryEnclosuresAcc,EVW -RBB1,VW Beetle Rear Battery Box - '58-71Aluminum Re...,VW Beetle Rear Battery Box - '58-,EV West,20.0,999.0,1,1,2022-03-22,...,NaT,active,14,VW Beetle Rear Battery Box - '58-71Aluminum Re...,,NaT,1,22,3,2022

In [371]:
manufacturer_facts_v4.columns

Index(['product_category', 'product_code', 'product_description_x',
       'product_name', 'manufacturer_name', 'weight', 'price',
       'manufacture_id', 'sk_manufature', 'date', 'manu_row_effective',
       'manu_row_expiration', 'manu_row_ind', 'product_id',
       'product_description_y', 'product_name_prev', 'prod_updated_at',
       'date_id', 'day', 'month', 'year'],
      dtype='object')

In [374]:
manufacturer_facts = manufacturer_facts_v4[['manufacture_id','product_id','date_id','weight', 'price']]

In [375]:
manufacturer_facts= manufacturer_facts.reset_index(drop=True)
manufacturer_facts["manu_fact_id"] =manufacturer_facts.index+1
manufacturer_facts["quantity"]= int(1)

In [376]:
manufacturer_facts.head()

   manufacture_id  product_id  date_id  weight  price  manu_fact_id  quantity
0               1           1        1     0.0  799.0             1         1
1               1           3        1    20.0  499.0             2         1
2               1          11        1     1.0   19.0             3         1
3               1          13        1    20.0  999.0             4         1
4               1          14        1    20.0  999.0             5         1

In [377]:
manufacturer_facts = manufacturer_facts[["manu_fact_id",'product_id','date_id','weight', 'price','quantity']]

In [378]:
manufacturer_facts.head()

   manu_fact_id  product_id  date_id  weight  price  quantity
0             1           1        1     0.0  799.0         1
1             2           3        1    20.0  499.0         1
2             3          11        1     1.0   19.0         1
3             4          13        1    20.0  999.0         1
4             5          14        1    20.0  999.0         1

In [ ]:
----

SyntaxError: invalid syntax (2133496677.py, line 1)

-----------------------

In [ ]:
# # evWest_df_4["manufacturer"]=evWest_df_4["manufacturer"].mask(evWest_df_4["manufacturer"] == '')
# evWest_df_4["manufacturer"]=evWest_df_4["manufacturer"].fillna("NULL")
# unique_manufacturers = evWest_df_4.manufacturer.unique()
# start_date = '2018-01-01'
# end_date = '2023-04-11'
# num_rows = len(evWest_df_3.manufacturer.unique())# number of rows in the DataFrame
# # Randomly sample dates from the sequence
# # Generate a sequence of dates within the range of years
# dates = pd.date_range(start=start_date, end=end_date)
# random_dates = np.random.choice(dates, size=len(unique_manufacturers), replace=True)


# # Create a new DataFrame with "manufacturer" and "vendor_since" columns
# df_man = pd.DataFrame({"manufacturer": unique_manufacturers, "vendor_since": random_dates})

# # Merge the new DataFrame with the original DataFrame
# evWest_df_5 = pd.merge(evWest_df_4, df_man, on="manufacturer", how="left")
# # evWest_df_5.columns
# # len(evWest_df_5)

# #define a function to generate random dates
# def random_date(start, end):
#     return pd.to_datetime(np.random.randint(start.value, end.value, size=1)[0], unit='ns')

# # product release date 
# evWest_df_5["product_release_Date"] =   evWest_df_5.apply(lambda row: random_date(row['vendor_since'], pd.Timestamp.now()), axis=1)
# evWest_df_5.head(20)

# #updating 
# def status_flag_maker(product_release_Date):
#     #a= evWest_df_4["product_release_Date"][0]
#     # b = pd.Timestamp.now()
#     # diff = b - a 
#     # diff= diff.days
#     #730 is two years
#     current_date = pd.Timestamp.now()
#     diff = product_release_Date- current_date
#     diff = diff.days
#     if diff > 730:
#         status = "inactive"
#         # print("inactive")
#     else: 
#         status = "active"
#         # print("active")
#     return status


# # adding

# evWest_df_5.apply(lambda row: random_date(row['vendor_since'], pd.Timestamp.now()), axis=1)
# evWest_df_5["product_status_flag"] = evWest_df_5.apply(lambda row: status_flag_maker(row["product_release_Date"]), axis=1)
# # initial values we set the product release date
# evWest_df_5["product_updated_at"] = evWest_df_5["product_release_Date"] 
# evWest_df_5.head()

----------------- LOAD-------------------------------

## creating manufacturer dimensions

1- find unique manufacturers

2- create id

3- set manufacture status active

In [ ]:
evWest_df_5["manufacturer"].isna().sum()

In [ ]:
evWest_df_5["manufacturer"]=evWest_df_5["manufacturer"].mask(evWest_df_5["manufacturer"] == '')
evWest_df_5["model_name"]= evWest_df_5["model_name"].mask(evWest_df_5["model_name"] == '')

In [ ]:
print(evWest_df_5["model_name"].isna().sum())
evWest_df_5["manufacturer"].isna().sum()

In [ ]:
# first fill all emty values with null
evWest_df_6 = evWest_df_5.fillna("NULL")
evWest_df_6.isna().sum()

In [ ]:
evWest_df_6.columns

In [ ]:
evWest_df_6["manufacturer"].value_counts()

In [ ]:
distinct_manufacturer = evWest_df_6.drop_duplicates(subset=["manufacturer", "vendor_since"], keep='first')
distinct_manufacturer = distinct_manufacturer.reset_index(drop=True)
distinct_manufacturer["manufacture_id"]=distinct_manufacturer.index+1
distinct_manufacturer= distinct_manufacturer[["manufacture_id","manufacturer", "vendor_since"]]
#setting all initial values are as active 
distinct_manufacturer["manu_status_flag"]= "active"
#setting updated time to the vendor since 
distinct_manufacturer["manu_updated_at"]= distinct_manufacturer["vendor_since"]
#initial sk we just set to the index 
distinct_manufacturer= distinct_manufacturer.reset_index(drop=True)
distinct_manufacturer["sk_manufature"]=distinct_manufacturer.index+1
distinct_manufacturer

# adding product field 
All the product names shodul be unique, I noticed an issue in the pdf extraction, I will have to go back and fix the issue so that model names are unique

In [ ]:
distinct_product = evWest_df_6.drop_duplicates(subset=["model_name","model","category","product_status_flag","product_updated_at"], keep='first')
distinct_product  = distinct_product.reset_index(drop=True)
distinct_product["product_id"]=distinct_product.index+1
distinct_product = distinct_product[["product_id","model_name","model","category","product_status_flag","product_updated_at"]]
distinct_product= distinct_product.reset_index(drop=True)
distinct_product["sk_product"]=distinct_product.index+1
distinct_product
distinct_product.head()

here as we can see we have dublicates values, next week I will fix this issue

In [ ]:
distinct = evWest_df_6.drop_duplicates(subset=["manufacturer", "model_name","model","category","product_status_flag","product_updated_at"], keep='first').sort_values(by = ["manufacturer", "category", 'model_name', "weight", "price"])
# distinct= distinct.reset_index(drop=True)
# # we add +1 to index column to start from 1
# distinct['product_id']= distinct.index+1
distinct_df2= distinct.groupby(distinct["model_name"], as_index=False).size()
distinct_df2.loc[distinct_df2['size']>1]
# distinct
# reorg the fields
# products =distinct[["product_id", "model_name", 'model', 'category']]
# products.head()

creating the manufacture-fact table 

we will bring manufacture id and product id

In [ ]:
manufacturer_fact_a= evWest_df_6.merge(distinct_manufacturer, on=["manufacturer", "vendor_since"] )
manufacturer_fact_a.head()
manufacturer_fact_b = manufacturer_fact_a.merge(distinct_product, on=["model_name","model","category","product_status_flag","product_updated_at"] )
manufacturer_fact_b.head()
manufacturer_fact_b  = manufacturer_fact_b.reset_index(drop=True)
manufacturer_fact_b["manu_fact_id"]=manufacturer_fact_b.index+1

In [ ]:

print("rows", len(manufacturer_fact_b))
manufacturer_fact_b.columns

In [ ]:
manufacturer_fact = manufacturer_fact_b[["manu_fact_id", "manufacture_id","product_id", "weight"	,"price" ]]
len(manufacturer_fact)

-------------------- LOAD -----------------------

connect the data base

In [ ]:
# import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
# #establishing the connection
# auto_commit =extensions.ISOLATION_LEVEL_AUTOCOMMIT
# conn = pg.connect(
#     host="localhost",
#     database="postgres",
#     user="postgres",
#     password="arnold")
# #Creating a cursor object using the cursor() method
# conn.set_isolation_level(auto_commit)
# cursor = conn.cursor()
# query = "CREATE database partsUnlimited"
# #Creating a database
# cursor.execute(query)
# print("Database created successfully........")

# #Closing the connection
# conn.close()

creating manufacturers table

In [ ]:
distinct_manufacturer.columns

In [ ]:
distinct_manufacturer.rename(columns={'manufacturer':"manufacturer_name"})

In [ ]:
distinct_manufacturer.columns

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.
cursor.execute("DROP TABLE IF EXISTS manufacturers")

#Creating table as per requirement
query ='''CREATE TABLE manufacturers(
    manufacture_id integer UNIQUE NOT NULL,
    sk_manufature integer,
   manufacturer_name VARCHAR(250),
   manu_status_flag VARCHAR(50) ,
   vendor_since DATE,
   manu_updated_at DATE ,
   PRIMARY KEY(manufacture_id)
)'''

##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"


# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("list of tables in partsUnlimited database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

Loading the manufacture data

In [ ]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
distinct_manufacturer.to_sql('manufacturers', conn, if_exists= 'replace', index=False)
conn.commit()
db.dispose() 
conn.close()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
# create the SQL query to insert the data into the table
query = " select * from manufacturers LIMIT 5"
cursor.execute(query) 
tables = cursor.fetchall()

temp = pd.DataFrame(tables, columns=['manufacture_id', 'manufacturer', 'vendor_since', 'manu_status_flag',
       'manu_updated_at', 'sk_manufature'])
print(temp)
cursor.close()
conn.close()

creating product table

In [ ]:
distinct_product.columns

In [ ]:
distinct_product = distinct_product.rename(columns={'model':"product_description","model_name":"product_name", "category": "product_category"})

In [ ]:
distinct_product.columns

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.
cursor.execute("DROP TABLE IF EXISTS products")

#Creating table as per requirement
query ='''CREATE TABLE products(
    product_id integer UNIQUE NOT NULL,
    sk_product integer,
   product_name VARCHAR(2000),
   product_description VARCHAR(2000) ,
   product_category VARCHAR(50),
   product_status_flag VARCHAR(50),
   product_updated_at DATE,
   PRIMARY KEY(product_id)
)'''

##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"


# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("list of tables in partsUnlimited database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

loading to the product table

In [ ]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
distinct_product.to_sql('products', conn, if_exists= 'replace', index=False)
conn.commit()
db.dispose() 
conn.close()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
# create the SQL query to insert the data into the table
query = " select * from products LIMIT 5"
cursor.execute(query) 
tables = cursor.fetchall()

temp = pd.DataFrame(tables, columns=['product_id', 'product_name', 'product_description', 'product_category',
       'product_status_flag', 'product_updated_at', 'sk_product'])
print(temp)
cursor.close()
conn.close()

creating manufacture fact table

In [ ]:
manufacturer_fact.columns

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

# alterin the table for the constrain 
query =''' ALTER TABLE manufacturers
ADD CONSTRAINT unique_manufacturer_id
UNIQUE (manufacture_id);
'''
##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"
# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("list of tables in partsUnlimited database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.

#altering the table for the constraint
query =''' ALTER TABLE products
ADD CONSTRAINT unique_product_id
UNIQUE (product_id);
'''
##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"
# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("list of tables in partsUnlimited database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.
cursor.execute("DROP TABLE IF EXISTS manufacturer_fact")

#Creating table as per requirement
query ='''CREATE TABLE manufacturer_fact(
    manu_fact_id integer UNIQUE NOT NULL PRIMARY KEY,
    manufacture_id integer,
    product_id integer,
    weight float,
    price float,
    CONSTRAINT fk_manufacture_id
        FOREIGN KEY (manufacture_id)
        REFERENCES manufacturers (manufacture_id),
    CONSTRAINT fk_products_id
        FOREIGN KEY (product_id)
        REFERENCES products (product_id)
)'''

##Creating a database
cursor.execute(query)
print("Table has been created successfully........")
conn.commit()
# Get the updated list of tables
sqlGetTableList = "SELECT table_schema,table_name FROM information_schema.tables where table_schema='public' ORDER BY table_schema,table_name ;"
#sqlGetTableList = "\dt"


# Retrieve all the rows from the cursor

cursor.execute(sqlGetTableList)
tables = cursor.fetchall()

 
# Print the names of the tables
print("list of tables in partsUnlimited database ")
print([table for table in tables])

#Closing the connection
cursor.close()
conn.close()

In [ ]:
from sqlalchemy import create_engine
# establish connections
conn_string = 'postgresql://postgres:arnold@localhost/partsunlimited'
  
db = create_engine(conn_string)
conn = db.connect()
print
#converting data to sql
manufacturer_fact.to_sql('manufacturer_fact', conn, if_exists= 'replace', index=False)
conn.commit()
db.dispose() 
conn.close()

In [ ]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
# create the SQL query to insert the data into the table
query = " select * from manufacturer_fact LIMIT 5"
cursor.execute(query) 
tables = cursor.fetchall()

temp = pd.DataFrame(tables, columns=['manu_fact_id', 'manufacture_id', 'product_id', 'weight', 'price'])
print(temp)
cursor.close()
conn.close()