In [2]:
#libraries that we need to use 
from sqlalchemy import create_engine
import pgspecial
#load sql
%load_ext sql
#we get access to the dabatabase 
%sql postgresql://postgres:arnold@localhost/partsunlimited

## Q1: What is the distribution of EV charging stations and EV cars across different geographic regions, and how does this relate to the popularity of EVs in those regions?

In [3]:
%%sql 
SELECT l.region, SUM(ef.vehicle_pop_quantity) AS vehicle_pop_sum, SUM(ef.ev_cs_quantity) AS ev_cs_sum
FROM ev_charginging_facts ef
JOIN ev_car_populaion ep ON ef.ev_car_pop_id = ep.ev_car_pop_id
JOIN ev_charging_stations ecs ON ef.ev_cs_dim_id = ecs.ev_cs_dim_id
JOIN location_dim l ON ef.location_id = l.location_id
group by l.region;

 * postgresql://postgres:***@localhost/partsunlimited
5 rows affected.

[('Midwest', Decimal('23'), Decimal('5978')),
 ('Northeast', Decimal('24'), Decimal('7908')),
 ('South', Decimal('125'), Decimal('11894')),
 ('West', Decimal('121769'), Decimal('20966')),
 (None, Decimal('5'), Decimal('283'))]

## Q2: How has the popularity of different EV models and electric vehicle types varied by geographic region over time, and how can Parts Unlimited use this information to target their marketing and sales efforts more effectively?

In [4]:
%%sql 
SELECT l.region,d.year, SUM(ef.vehicle_pop_quantity) AS vehicle_pop_sum, SUM(ef.ev_cs_quantity) AS ev_cs_sum
FROM ev_charginging_facts ef
JOIN ev_car_populaion ep ON ef.ev_car_pop_id = ep.ev_car_pop_id
JOIN ev_charging_stations ecs ON ef.ev_cs_dim_id = ecs.ev_cs_dim_id
JOIN location_dim l ON ef.location_id = l.location_id
JOIN date_dim d ON ef.date_id = d.date_id
group by l.region, d.year;

 * postgresql://postgres:***@localhost/partsunlimited
90 rows affected.

[('Midwest', 0, Decimal('0'), Decimal('189')),
 ('Midwest', 2009, Decimal('0'), Decimal('2')),
 ('Midwest', 2010, Decimal('0'), Decimal('28')),
 ('Midwest', 2011, Decimal('0'), Decimal('171')),
 ('Midwest', 2012, Decimal('0'), Decimal('388')),
 ('Midwest', 2013, Decimal('0'), Decimal('183')),
 ('Midwest', 2014, Decimal('0'), Decimal('228')),
 ('Midwest', 2015, Decimal('0'), Decimal('317')),
 ('Midwest', 2016, Decimal('1'), Decimal('366')),
 ('Midwest', 2017, Decimal('4'), Decimal('381')),
 ('Midwest', 2018, Decimal('3'), Decimal('448')),
 ('Midwest', 2019, Decimal('2'), Decimal('637')),
 ('Midwest', 2020, Decimal('5'), Decimal('811')),
 ('Midwest', 2021, Decimal('6'), Decimal('1829')),
 ('Midwest', 2022, Decimal('2'), Decimal('0')),
 ('Northeast', 0, Decimal('0'), Decimal('176')),
 ('Northeast', 2004, Decimal('0'), Decimal('1')),
 ('Northeast', 2007, Decimal('0'), Decimal('1')),
 ('Northeast', 2008, Decimal('0'), Decimal('2')),
 ('Northeast', 2009, Decimal('0'), Decimal('3')),
 ('Northeast', 2010, Decimal('0'), Decimal('8')),
 ('Northeast', 2011, Decimal('0'), Decimal('156')),
 ('Northeast', 2012, Decimal('0'), Decimal('274')),
 ('Northeast', 2013, Decimal('0'), Decimal('103')),
 ('Northeast', 2014, Decimal('4'), Decimal('235')),
 ('Northeast', 2015, Decimal('2'), Decimal('256')),
 ('Northeast', 2016, Decimal('2'), Decimal('505')),
 ('Northeast', 2017, Decimal('1'), Decimal('291')),
 ('Northeast', 2018, Decimal('3'), Decimal('529')),
 ('Northeast', 2019, Decimal('1'), Decimal('1117')),
 ('Northeast', 2020, Decimal('2'), Decimal('1767')),
 ('Northeast', 2021, Decimal('5'), Decimal('2484')),
 ('Northeast', 2022, Decimal('4'), Decimal('0')),
 ('South', 0, Decimal('0'), Decimal('378')),
 ('South', 2009, Decimal('0'), Decimal('2')),
 ('South', 2010, Decimal('0'), Decimal('16')),
 ('South', 2011, Decimal('1'), Decimal('440')),
 ('South', 2012, Decimal('2'), Decimal('648')),
 ('South', 2013, Decimal('4'), Decimal('156')),
 ('South', 2014, Decimal('4'), Decimal('243')),
 ('South', 2015, Decimal('5'), Decimal('609')),
 ('South', 2016, Decimal('7'), Decimal('699')),
 ('South', 2017, Decimal('11'), Decimal('817')),
 ('South', 2018, Decimal('12'), Decimal('1120')),
 ('South', 2019, Decimal('14'), Decimal('1330')),
 ('South', 2020, Decimal('11'), Decimal('2199')),
 ('South', 2021, Decimal('25'), Decimal('3237')),
 ('South', 2022, Decimal('26'), Decimal('0')),
 ('South', 2023, Decimal('3'), Decimal('0')),
 ('West', 0, Decimal('0'), Decimal('526')),
 ('West', 1995, Decimal('0'), Decimal('1')),
 ('West', 1996, Decimal('0'), Decimal('2')),
 ('West', 1997, Decimal('1'), Decimal('7')),
 ('West', 1998, Decimal('1'), Decimal('16')),
 ('West', 1999, Decimal('4'), Decimal('12')),
 ('West', 2000, Decimal('9'), Decimal('3')),
 ('West', 2002, Decimal('2'), Decimal('20')),
 ('West', 2003, Decimal('1'), Decimal('0')),
 ('West', 2004, Decimal('0'), Decimal('14')),
 ('West', 2005, Decimal('0'), Decimal('3')),
 ('West', 2006, Decimal('0'), Decimal('4')),
 ('West', 2008, Decimal('21'), Decimal('25')),
 ('West', 2009, Decimal('0'), Decimal('12')),
 ('West', 2010, Decimal('25'), Decimal('25')),
 ('West', 2011, Decimal('830'), Decimal('324')),
 ('West', 2012, Decimal('1676'), Decimal('445')),
 ('West', 2013, Decimal('4613'), Decimal('287')),
 ('West', 2014, Decimal('3627'), Decimal('376')),
 ('West', 2015, Decimal('4936'), Decimal('757')),
 ('West', 2016, Decimal('5670'), Decimal('774')),
 ('West', 2017, Decimal('8552'), Decimal('733')),
 ('West', 2018, Decimal('14324'), Decimal('1070')),
 ('West', 2019, Decimal('10405'), Decimal('1601')),
 ('West', 2020, Decimal('10922'), Decimal('5067')),
 ('West', 2021, Decimal('18455'), Decimal('8862')),
 ('West', 2022, Decimal('27701'), Decimal('0')),
 ('West', 2023, Decimal('9994'), Decimal('0')),
 (None, 0, Decimal('0'), Decimal('21')),
 (None, 2011, Decimal('0'), Decimal('2')),
 (None, 2012, Decimal('0'), Decimal('9')),
 (None, 2013, Decimal('0'), Decimal('8')),
 (None, 2014, Decimal('0'), Decimal('5')),
 (None, 2015, Decimal('1'), Decimal('23')),
 (None, 2016, Decimal('0'), Decimal('13')),
 (None, 2017, Decimal('0'), Decimal('8')),
 (None, 2018, Decimal('1'), Decimal('27')),
 (None, 2019, Decimal('0'), Decimal('45')),
 (None, 2020, Decimal('2'), Decimal('41')),
 (None, 2021, Decimal('0'), Decimal('81')),
 (None, 2022, Decimal('1'), Decimal('0'))]

## Q3: How does the weight of EV parts relate to their price, and how does this relationship differ across different manufacturers ?

* The GROUP BY clause ensures that the calculations are done for each combination, 
and the ORDER BY clause sorts the results by manufacturer name and product category for easy viewing.
* The STDDEV_POP function calculates the population standard deviation, and dividing it by the average price gives us the coefficient of variation. The GROUP BY clause groups the results by manufacturer and product category, so we get the averages and coefficient of variation for each combination.
* The ::numeric casts the average values to the numeric data type before rounding. 
* The second argument of the ROUND() function specifies the number of decimal places to round to.

In [5]:
%%sql
SELECT m.manufacturer_name, p.product_category,
       ROUND(AVG(mf.weight)::numeric, 2) AS average_weight,
       ROUND(AVG(mf.price)::numeric, 2) AS average_price,
       ROUND(CORR(mf.weight, mf.price)::numeric, 2) AS correlation_coef
FROM manufacturer_fact mf
JOIN manufacturers m ON mf.manufacture_id = m.manufacture_id
JOIN products p ON mf.product_id = p.product_id
GROUP BY m.manufacturer_name, p.product_category
ORDER BY m.manufacturer_name, p.product_category;

 * postgresql://postgres:***@localhost/partsunlimited
52 rows affected.

[('AEM', 'Instrumentation', Decimal('3.00'), Decimal('1194.00'), None),
 ('AEM', 'Miscellaneous', Decimal('4.00'), Decimal('1598.00'), None),
 ('AM Racing', 'Motors', Decimal('165.00'), Decimal('14694.00'), Decimal('1.00')),
 ('Behr', 'Used_Components', Decimal('3.00'), Decimal('99.00'), None),
 ('Canadian EV', 'Miscellaneous', Decimal('4.00'), Decimal('549.00'), Decimal('1.00')),
 ('Canadian EV', 'Motor_Adapters', Decimal('9.00'), Decimal('1300.00'), None),
 ('Chennic', 'Charging_Accessories', Decimal('1.00'), Decimal('89.00'), None),
 ('Curtis', 'Controller_Accessories', Decimal('2.50'), Decimal('649.00'), Decimal('1.00')),
 ('Curtis', 'Controllers', Decimal('16.33'), Decimal('1787.67'), Decimal('0.71')),
 ('Deltec', 'Instrumentation', Decimal('2.33'), Decimal('50.67'), Decimal('0.95')),
 ('DilithiumBMS', 'Charging_Accessories', Decimal('1.00'), Decimal('370.00'), None),
 ('Elcon', 'Chargers', Decimal('17.00'), Decimal('884.00'), Decimal('1.00')),
 ('Elcon', 'DC_Converters', Decimal('6.00'), Decimal('549.00'), None),
 ('EmproShunts', 'Used_Components', Decimal('0.00'), Decimal('20.00'), None),
 ('EV West', 'Batteries', Decimal('10.00'), Decimal('649.00'), Decimal('-1.00')),
 ('EV West', 'BatteryEnclosuresAcc', Decimal('13.67'), Decimal('672.33'), Decimal('1.00')),
 ('EV West', 'Charging_Accessories', Decimal('2.62'), Decimal('68.81'), Decimal('0.40')),
 ('EV West', 'Controller_Accessories', Decimal('3.75'), Decimal('98.44'), Decimal('0.73')),
 ('EV West', 'DrivetrainComponents', Decimal('29.60'), Decimal('766.20'), Decimal('0.83')),
 ('EV West', 'EV_Conversion_Kits', Decimal('376.67'), Decimal('16426.65'), Decimal('-0.70')),
 ('EV West', 'Hose_Fittings', Decimal('0.10'), Decimal('4.85'), Decimal('-0.02')),
 ('EV West', 'Instrumentation', Decimal('1.00'), Decimal('149.00'), None),
 ('EV West', 'Miscellaneous', Decimal('1.43'), Decimal('34.73'), Decimal('0.63')),
 ('EV West', 'Motor_Accessories', Decimal('13.71'), Decimal('684.43'), Decimal('0.95')),
 ('EV West', 'Motor_Adapters', Decimal('125.00'), Decimal('2197.00'), Decimal('1.00')),
 ('EV West', 'Services', Decimal('0.00'), Decimal('393.75'), None),
 ('EV West', 'Used_Components', Decimal('2.00'), Decimal('139.00'), None),
 ('HPEVS', 'Controller_Accessories', Decimal('3.00'), Decimal('528.50'), Decimal('1.00')),
 ('HPEVS', 'Motors', Decimal('101.54'), Decimal('4940.23'), Decimal('0.82')),
 ('Manzanita', 'Chargers', Decimal('17.73'), Decimal('3120.00'), Decimal('0.88')),
 ('Manzanita', 'Controllers', Decimal('27.50'), Decimal('3600.00'), Decimal('1.00')),
 ('Modular EV', 'Charging_Accessories', Decimal('1.00'), Decimal('45.00'), None),
 ('MSD Ignition', 'Miscellaneous', Decimal('1.00'), Decimal('19.99'), None),
 ('NetGainMotors', 'Controllers', Decimal('11.00'), Decimal('2050.00'), None),
 ('NetGainMotors', 'Motors', Decimal('120.00'), Decimal('5275.00'), None),
 ('QuickChargePower', 'Charging_Accessories', Decimal('2.00'), Decimal('389.00'), None),
 ('RinconPower', 'BatteryEnclosuresAcc', Decimal('3.00'), Decimal('159.00'), None),
 ('RinehartMotionSystems', 'Controllers', Decimal('22.50'), Decimal('7800.00'), Decimal('1.00')),
 ('Samsung', 'Batteries', Decimal('63.75'), Decimal('521.75'), Decimal('0.95')),
 ('Smart', 'Used_Components', Decimal('2.40'), Decimal('68.00'), Decimal('0.04')),
 ('SSBC', 'Miscellaneous', Decimal('9.00'), Decimal('288.00'), None),
 ('TBSElectronics', 'Instrumentation', Decimal('1.00'), Decimal('182.00'), None),
 ('Tesla', 'Batteries', Decimal('48.50'), Decimal('1189.50'), Decimal('1.00')),
 ('Tesla', 'Controllers', Decimal('3.00'), Decimal('2699.00'), None),
 ('Tesla', 'DrivetrainComponents', Decimal('1.00'), Decimal('8.00'), None),
 ('Tesla', 'Motors', Decimal('305.00'), Decimal('11900.00'), Decimal('1.00')),
 ('Tesla', 'Used_Components', Decimal('27.50'), Decimal('804.50'), Decimal('1.00')),
 ('Tyco Kilovac', 'Used_Components', Decimal('5.00'), Decimal('60.00'), None),
 ('UnknownVendor', 'Batteries', Decimal('39.00'), Decimal('839.00'), Decimal('1.00')),
 ('UnknownVendor', 'Instrumentation', Decimal('1.00'), Decimal('179.50'), None),
 ('UnknownVendor', 'Miscellaneous', Decimal('4.43'), Decimal('256.00'), Decimal('0.81')),
 ('UnknownVendor', 'Used_Components', Decimal('1.00'), Decimal('25.00'), None)]

The analysis reveals that the weight of EV parts is positively correlated with their prices for most manufacturers, including Tesla. For instance, batteries have a correlation coefficient of 1, indicating a strong positive correlation between weight and price. However, some manufacturers, such as EV West, exhibit a negative correlation for some products, like EV conversion kits, suggesting that as the weight of these parts increase, their prices decrease.

The query provides valuable insights for the supply chain department, helping them understand how the weight of EV parts affects their prices across different manufacturers. By leveraging this information, the department can make informed decisions when negotiating prices with suppliers, identifying cost-saving opportunities, and optimizing their inventory management strategies.

## Q4: What is the average price, weight, and quantity of products sold by Parts Unlimited over time, and how does this vary across different geographic regions in which the products have been manufactured?

In [6]:
%%sql 
SELECT l.region,l.city,l.country, m.manufacturer_name,  d.year,
       ROUND(AVG(mf.weight)::numeric, 2) AS average_weight,
       ROUND(AVG(mf.price)::numeric, 2) AS average_price,
       SUM(mf.quantity)::numeric  AS total_distinct_product
FROM manufacturer_fact mf
JOIN manufacturers m ON mf.manufacture_id = m.manufacture_id
JOIN products p ON mf.product_id = p.product_id
JOIN location_dim l ON mf.location_id = l.location_id
JOIN date_dim d ON mf.date_id = d.date_id
GROUP BY l.region,l.city,l.country,  m.manufacturer_name,  d.year
ORDER BY  l.region,l.city,l.country,  m.manufacturer_name, d.year;

 * postgresql://postgres:***@localhost/partsunlimited
26 rows affected.

[('Midwest', 'Batavia', 'US', 'Deltec', 2022, Decimal('2.33'), Decimal('50.67'), Decimal('3')),
 ('Midwest', 'Georgetown', 'US', 'NetGainMotors', 2021, Decimal('83.67'), Decimal('4200.00'), Decimal('3')),
 ('Midwest', 'Indianapolis', 'US', 'EmproShunts', 2019, Decimal('0.00'), Decimal('20.00'), Decimal('1')),
 ('Northeast', 'Clarence', 'US', 'SSBC', 2019, Decimal('9.00'), Decimal('288.00'), Decimal('1')),
 ('Northeast', 'Mount Kisco', 'US', 'Curtis', 2020, Decimal('10.80'), Decimal('1332.20'), Decimal('5')),
 ('South', 'Cedar Park', 'US', 'AM Racing', 2019, Decimal('165.00'), Decimal('14694.00'), Decimal('2')),
 ('South', 'El Paso', 'US', 'MSD Ignition', 2021, Decimal('1.00'), Decimal('19.99'), Decimal('1')),
 ('South', 'Pryor', 'US', 'Modular EV', 2019, Decimal('1.00'), Decimal('45.00'), Decimal('1')),
 ('South', 'Round Rock', 'US', 'HPEVS', 2020, Decimal('88.40'), Decimal('4352.00'), Decimal('15')),
 ('Unknown', 'Delta', 'Canada', 'Canadian EV', 2022, Decimal('8.58'), Decimal('1237.42'), Decimal('24')),
 ('Unknown', 'Lod', 'Israel', 'Elcon', 2020, Decimal('10.40'), Decimal('683.00'), Decimal('5')),
 ('Unknown', 'Mississauga', 'Canada', 'TBSElectronics', 2022, Decimal('1.00'), Decimal('182.00'), Decimal('2')),
 ('Unknown', 'Richmond Hill', 'Canada', 'Manzanita', 2020, Decimal('21.64'), Decimal('3312.00'), Decimal('5')),
 ('Unknown', 'Seoul', 'South Korea', 'Samsung', 2019, Decimal('63.75'), Decimal('521.75'), Decimal('4')),
 ('Unknown', 'Shenzhen', 'China', 'Chennic', 2020, Decimal('1.00'), Decimal('89.00'), Decimal('1')),
 ('Unknown', 'Stuttgart', 'Germany', 'Behr', 2019, Decimal('3.00'), Decimal('99.00'), Decimal('1')),
 ('Unknown', 'Stuttgart', 'Germany', 'Smart', 2021, Decimal('2.40'), Decimal('68.00'), Decimal('5')),
 ('Unknown', 'Unknown', 'Unknown', 'UnknownVendor', 2019, Decimal('9.33'), Decimal('321.17'), Decimal('12')),
 ('Unknown', 'Victoria', 'Canada', 'QuickChargePower', 2021, Decimal('2.00'), Decimal('389.00'), Decimal('1')),
 ('West', 'Hawthorne', 'US', 'AEM', 2020, Decimal('3.33'), Decimal('1328.67'), Decimal('3')),
 ('West', 'Menlo Park', 'US', 'Tyco Kilovac', 2022, Decimal('5.00'), Decimal('60.00'), Decimal('1')),
 ('West', 'Oceanside', 'US', 'DilithiumBMS', 2021, Decimal('1.00'), Decimal('370.00'), Decimal('2')),
 ('West', 'Oceanside', 'US', 'RinconPower', 2021, Decimal('3.00'), Decimal('159.00'), Decimal('1')),
 ('West', 'Palo Alto', 'US', 'Tesla', 2018, Decimal('152.82'), Decimal('6017.73'), Decimal('11')),
 ('West', 'San Marcos', 'US', 'EV West', 2020, Decimal('68.69'), Decimal('2896.53'), Decimal('75')),
 ('West', 'Wilsonville', 'US', 'RinehartMotionSystems', 2019, Decimal('22.50'), Decimal('7800.00'), Decimal('2'))]

In [7]:
%%sql
SELECT SUM(mf2.quantity)::numeric
              FROM manufacturer_fact mf2
              JOIN date_dim d2 ON mf2.date_id = d2.date_id
                 WHERE d2.year = 2020

 * postgresql://postgres:***@localhost/partsunlimited
1 rows affected.

[(Decimal('109'),)]

In [8]:
%%sql
SELECT l.region, l.city, l.country, m.manufacturer_name, d.year,
       ROUND(AVG(mf.weight)::numeric, 2) AS average_weight,
       ROUND(AVG(mf.price)::numeric, 2) AS average_price,
       SUM(mf.quantity)::numeric AS total_distinct_product,
       ROUND(SUM(mf.quantity)::numeric / 
             (SELECT SUM(mf2.quantity)::numeric
              FROM manufacturer_fact mf2
              JOIN date_dim d2 ON mf2.date_id = d2.date_id
              WHERE d2.year = d.year)::numeric * 100, 2) AS percent_of_products_provided
FROM manufacturer_fact mf
JOIN manufacturers m ON mf.manufacture_id = m.manufacture_id
JOIN products p ON mf.product_id = p.product_id
JOIN location_dim l ON mf.location_id = l.location_id
JOIN date_dim d ON mf.date_id = d.date_id
GROUP BY l.region, l.city, l.country, m.manufacturer_name, d.year
ORDER BY l.region, l.city, l.country, m.manufacturer_name, d.year;

 * postgresql://postgres:***@localhost/partsunlimited
26 rows affected.

[('Midwest', 'Batavia', 'US', 'Deltec', 2022, Decimal('2.33'), Decimal('50.67'), Decimal('3'), Decimal('10.00')),
 ('Midwest', 'Georgetown', 'US', 'NetGainMotors', 2021, Decimal('83.67'), Decimal('4200.00'), Decimal('3'), Decimal('23.08')),
 ('Midwest', 'Indianapolis', 'US', 'EmproShunts', 2019, Decimal('0.00'), Decimal('20.00'), Decimal('1'), Decimal('4.17')),
 ('Northeast', 'Clarence', 'US', 'SSBC', 2019, Decimal('9.00'), Decimal('288.00'), Decimal('1'), Decimal('4.17')),
 ('Northeast', 'Mount Kisco', 'US', 'Curtis', 2020, Decimal('10.80'), Decimal('1332.20'), Decimal('5'), Decimal('4.59')),
 ('South', 'Cedar Park', 'US', 'AM Racing', 2019, Decimal('165.00'), Decimal('14694.00'), Decimal('2'), Decimal('8.33')),
 ('South', 'El Paso', 'US', 'MSD Ignition', 2021, Decimal('1.00'), Decimal('19.99'), Decimal('1'), Decimal('7.69')),
 ('South', 'Pryor', 'US', 'Modular EV', 2019, Decimal('1.00'), Decimal('45.00'), Decimal('1'), Decimal('4.17')),
 ('South', 'Round Rock', 'US', 'HPEVS', 2020, Decimal('88.40'), Decimal('4352.00'), Decimal('15'), Decimal('13.76')),
 ('Unknown', 'Delta', 'Canada', 'Canadian EV', 2022, Decimal('8.58'), Decimal('1237.42'), Decimal('24'), Decimal('80.00')),
 ('Unknown', 'Lod', 'Israel', 'Elcon', 2020, Decimal('10.40'), Decimal('683.00'), Decimal('5'), Decimal('4.59')),
 ('Unknown', 'Mississauga', 'Canada', 'TBSElectronics', 2022, Decimal('1.00'), Decimal('182.00'), Decimal('2'), Decimal('6.67')),
 ('Unknown', 'Richmond Hill', 'Canada', 'Manzanita', 2020, Decimal('21.64'), Decimal('3312.00'), Decimal('5'), Decimal('4.59')),
 ('Unknown', 'Seoul', 'South Korea', 'Samsung', 2019, Decimal('63.75'), Decimal('521.75'), Decimal('4'), Decimal('16.67')),
 ('Unknown', 'Shenzhen', 'China', 'Chennic', 2020, Decimal('1.00'), Decimal('89.00'), Decimal('1'), Decimal('0.92')),
 ('Unknown', 'Stuttgart', 'Germany', 'Behr', 2019, Decimal('3.00'), Decimal('99.00'), Decimal('1'), Decimal('4.17')),
 ('Unknown', 'Stuttgart', 'Germany', 'Smart', 2021, Decimal('2.40'), Decimal('68.00'), Decimal('5'), Decimal('38.46')),
 ('Unknown', 'Unknown', 'Unknown', 'UnknownVendor', 2019, Decimal('9.33'), Decimal('321.17'), Decimal('12'), Decimal('50.00')),
 ('Unknown', 'Victoria', 'Canada', 'QuickChargePower', 2021, Decimal('2.00'), Decimal('389.00'), Decimal('1'), Decimal('7.69')),
 ('West', 'Hawthorne', 'US', 'AEM', 2020, Decimal('3.33'), Decimal('1328.67'), Decimal('3'), Decimal('2.75')),
 ('West', 'Menlo Park', 'US', 'Tyco Kilovac', 2022, Decimal('5.00'), Decimal('60.00'), Decimal('1'), Decimal('3.33')),
 ('West', 'Oceanside', 'US', 'DilithiumBMS', 2021, Decimal('1.00'), Decimal('370.00'), Decimal('2'), Decimal('15.38')),
 ('West', 'Oceanside', 'US', 'RinconPower', 2021, Decimal('3.00'), Decimal('159.00'), Decimal('1'), Decimal('7.69')),
 ('West', 'Palo Alto', 'US', 'Tesla', 2018, Decimal('152.82'), Decimal('6017.73'), Decimal('11'), Decimal('100.00')),
 ('West', 'San Marcos', 'US', 'EV West', 2020, Decimal('68.69'), Decimal('2896.53'), Decimal('75'), Decimal('68.81')),
 ('West', 'Wilsonville', 'US', 'RinehartMotionSystems', 2019, Decimal('22.50'), Decimal('7800.00'), Decimal('2'), Decimal('8.33'))]

* Stacked Bar Chart: A stacked bar chart could be used to show the breakdown of total products provided by each manufacturer in each region over time. The height of each bar would represent the total number of products provided in a given year, and the different colors within each bar would represent the contribution of each manufacturer to that total. You could also include a filter to allow users to focus on a particular year.

* Heat Map: A heat map could be used to show how the total quantity of products provided by each manufacturer varies across regions and years. Each cell in the heatmap would represent the total number of products provided by a given manufacturer in a given region/year combination, with color representing the value. You could include a filter to allow users to focus on a particular year or manufacturer.

## Q5 : How does the demand for charging stations and the number of vendors operating in different regions relate to the size of the EV market, and what trends can be identified over time?

In [26]:
%%sql
select l.region, m.year,
sum(mfc.vehicle_pop_quantity) as number_of_cars,
sum(mfc.ev_cs_quantity) as number_of_chargingSta,
COUNT(DISTINCT ma.manufacture_id) AS number_of_manufacturers
from manufacturer_fact_cumulative mfc
JOIN manufacturers ma ON mfc.manufacture_id = ma.manufacture_id
JOIN location_dim l ON mfc.location_id = l.location_id
JOIN month_dim m ON mfc.month_id = m.month_id
WHERE m.year BETWEEN 2020 AND 2023
GROUP BY l.region, m.year
LIMIT 5;

 * postgresql://postgres:***@localhost/partsunlimited
5 rows affected.

[('Midwest', 2020, 3, 624, 2),
 ('Midwest', 2021, 4, 1474, 2),
 ('Midwest', 2022, 2, 0, 2),
 ('Northeast', 2020, 2, 1219, 1),
 ('Northeast', 2021, 2, 1685, 1)]