In [1]:
#libraries that we need to use 
from sqlalchemy import create_engine
import pgspecial
#load sql
%load_ext sql
#we get access to the dabatabase 
%sql postgresql://postgres:arnold@localhost/partsunlimited

# SCD Maintnance

## 1. ***SCD Type 0 - Ignore any changes***

In this type scd we need to make sure that there will not be anychaging. Normally I will not use this type because I believe there is going to be always some change
in the data but since this is a project requirement. I used month time dimension. Basically we will not change anything in this table, we will ignore it

## 2. ***SCD Type 1 - Overwrite the changes***

For scd one we check for unique keys and when we find the key we update the values 
- When there is a dublicate key we need dedect and over write 
- if the key is like a combination of ddmmyyyy you will end up with the same key and if it is in the dabase you can overwrite 

In this example we are going to change original date is pk 20200210 (2020-02-10) with same code pk 20200210 (2020-02-12).Then we are going to delete the record so that we do keep the original data

**origianal record**

In [15]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.

#altering the table for the constraint
query =''' SELECT * 
FROM date_dim
where date_dim.date_id = 20200210  ;
'''
#executing the query
cursor.execute(query)
conn.commit()

tables = cursor.fetchall()
print(tables)

[(20200210, 10, 2, 2020, datetime.datetime(2020, 2, 10, 0, 0))]

We use sql query to update the record below is the single record update but we can also create a logic to overwrite multiple records, showen in the second rcode cell

In [ ]:
%%sql 
# updating single code 
# UPDATE date_dim
# SET month = 12
#     date  = 2
#     year = 2020
#     date = '2020-02-10'::date
# WHERE customer_id = 20200210;

in here we update table with new records dated 2025

In [2]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.

#altering the table for the constraint
query =''' INSERT INTO date_dim (date_id, day, month, 
year, date)
VALUES  (20200210, 12, 2, 2020, '2020-02-10'::date),
  (20250225, 25, 2, 2025, '2025-02-25'::date),
  (20250214, 14, 2, 2025, '2025-02-14'::date)
ON CONFLICT (date_id) DO UPDATE SET
  day = excluded.day,
  month = excluded.month,
  year = excluded.year,
date = excluded.date;

'''
##Creating a database
cursor.execute(query)
print("Table has been altered successfully........")
conn.commit()

Table has been altered successfully........

we run same query again to see if  our value is updated

In [19]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(
    host="localhost",
    database="partsunlimited",
    user="postgres",
    password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Droping if the table if already exists.

#altering the table for the constraint
query =''' SELECT * 
FROM date_dim
where date_dim.date_id = 20200210  ;

'''
##Creating a database
cursor.execute(query)
print("Table has been altered successfully........")
conn.commit()

tables = cursor.fetchall()
print(tables)

Table has been altered successfully........
[(20200210, 12, 2, 2020, datetime.datetime(2020, 2, 10, 0, 0))]

now we can delete the 2025 records because there is no matching record in our database. We use in operator to specify the pk that we want to delete

In [3]:
%%sql
DELETE FROM date_dim
WHERE date_id IN (20250225, 20250214);

 * postgresql://postgres:***@localhost/partsunlimited
2 rows affected.

[]

----------------

## 3. SCD Type 2 (always adding, not updating, recoding record history)

Note charging_station_id is a source id , now that I am thinking I should not have inculude in my design. It is inculuded in my road map in my readme document

I picked ev charging stations as scd type 2 because we want to keep track of all the changes in the table and we believe 
- the station data might change over time and we want to full history of it, we are interested to know all the changes in table 
-  this will allow us an accurate reporting 
- this will help when we audit our records
I picked the record below and the change we are going to implement is that their status_code is going to be closed (status code shows if they are currently open or not)

In [5]:
%%sql

SELECT * 
FROM ev_charging_stations
where ev_charging_stations.ev_cs_dim_id = 24

 * postgresql://postgres:***@localhost/partsunlimited
1 rows affected.

[(24, 24, 7184, 'Los Angeles International Airport (LAX) - Lot 6', 'open', 'public', 'USD', datetime.date(2023, 4, 21), None, 'active')]

how do we know if there is any change? <br>
There are multiple ways to dedect the change
1.  we can scan the data (station name, status_sode, access_code, currency)
2.  if there is no match we instert the data 
3.  if there is a match it is a dublicate record

In [6]:
import pandas as pd

The len(delta_df) index value ensures that the new row is added to the end of the DataFrame, regardless of the current number of rows in the DataFrame

In [14]:
delta_df = pd.DataFrame(columns=['charging_station_id', 'station_name'	,'status_code',	'access_code',	'currency'])
delta_df.loc[len(delta_df)]= [7184,'Los Angeles International Airport (LAX) - Lot 6',	'closed'	,'public',	'USD']
delta_df.loc[len(delta_df)] = [1234, 'Fake Station 1', 'closed', 'private', 'EUR']
delta_df.loc[len(delta_df)] = [5678, 'Fake Station 2', 'open', 'public', 'GBP']
delta_df.loc[len(delta_df)] = [9101, 'Fake Station 3', 'under maintenance', 'private', 'USD']
delta_df.head()

,charging_station_id,station_name,status_code,access_code,currency
0,7184,Los Angeles International Airport (LAX) - Lot 6,closed,public,USD
1,1234,Fake Station 1,closed,private,EUR
2,5678,Fake Station 2,open,public,GBP
3,9101,Fake Station 3,under maintenance,private,USD

In [25]:
import psycopg2 as pg # PostgreSQL
# from psycopg2 import  extensions
#establishing the connection
conn = pg.connect(host="localhost", database="partsunlimited",user="postgres",password="arnold")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#queriying 
query =''' SELECT * 
FROM ev_charhing_stations;
'''
cursor.execute(query)
conn.commit()

tables = cursor.fetchall()
database_df  = pd.DataFrame(tables, columns=[['ev_cs_dim_id', 'sk_ev_dim_id', 'charging_station_id', 'station_name',
       'status_code', 'access_code', 'currency', 'row_effective_date',
       'row_expiration_date', 'row_status']])
print('query excecuted')
conn.close()

[(2237, 12, 2, 2020, datetime.datetime(2020, 2, 12, 0, 0)), (20200210, 12, 2, 2020, datetime.datetime(2020, 2, 10, 0, 0))]